[2018-10-14 01:13] Pooch11 commented on #1705
I am trying to work on this issue, and looking at other similar fixes involving CC to determine where to get started. It seems like any other bleed effects (Rupture) following Sap do not break this movement bug. Funny enough -  if you blind the target after the sequence above it will gain its movement again.
I have looked into similar closed issues to see if I can find any hints on where to get st

[2018-10-14 02:30] Pooch11 commented on #1719
I didn't notice this in the installation instructions and made a fix for TBC version [here](https://github.com/cmangos/mangos-tbc/pull/250)
I think it would be pretty convenient for new people interested in the project

[2018-10-14 14:29] a20eac1d opened #1729 "[Classic] Maraudon: Entrance to "Earth Song Falls" not working"
**Current behavior**:

The teleporter at (X: -1381 / Y: 2918 / Z: 74 / M: 1) does nothing. You can activate it, but nothing happens.

**Expected behavior**:

Gain entry to Earth Song Falls.

**Steps to reproduce**:

1. Teleport to coordinates
2. Rightclick "Doodad_CentaurTeleporter01"
3. Nothing happens.

**Client version**:

1.12.2

**Commit hash**:

7036041e4836234b13b17a1548e8765d629b2ceb

**Da

[2018-10-14 16:21] a20eac1d opened #1730 "[CLASSIC] Mob Portraits Show an Incorrect Health Value"
**Current behavior**:
Sometimes, mobs portraits show an incorrect health value. This bug is only visual, the damage is still being calculated correctly. Addons are NOT the cause because none were installed at the time of recording (see below).

**Expected behavior**:
Show the correct hp value

**Steps to reproduce**:
Unknown. See video: https://gfycat.com/SlowThirstyAmericanalligator

**Client ver

[2018-10-14 19:55] cala commented on #1729
I cannot reproduce this.
You need to use item 17191 to activate the portal, not click on the GO itself (it is not supposed to be selectable unless you are on GM mode).

[2018-10-14 19:56] cala commented on #1730
I confirm this one.

[2018-10-14 20:07] killerwife commented on #1730
Give me reproducible cases. I know the GM mode one.

[2018-10-15 09:06] a20eac1d commented on #1729
You are right, my mistake. I was stupid.

[2018-10-15 09:06] #1729 closed

[2018-10-15 09:15] a20eac1d commented on #1730
@killerwife I honestly have no clue how to reproduce it, but it happens all the time for me. With many types of creatures in many locations. I think it might be sending the percentage value of health instead of the absolute value?

So instead of sending:
I have 3847 of 5000 HP

It sends:
I have 76 / 5000 HP.

Because 3847 of 5000 is ~76%

[2018-10-15 22:36] datchannin opened #1731 "[TBC] Combat disappear while pvp if you don't attack for several seconds"
**Current behavior**:
I'm not sure if it is a bug. But if you in pvp-combat and stop combat by pressing 'esc' - combat will disappear after several sec.

So if you are rogue, you can use stun for several seconds, and combat will fade faster then stun from your enemy. And you can use invisible while he is still in stun.

First video - rogue used stun, and after - invisible befire stun was finished.

[2018-10-15 23:14] datchannin opened #1732 "[TBC][WOTLK] You can dublicate items using auction if you do price as "5555555""
**Current behavior**:
Sorry, but one more bug:
If you try to sell stack of items using auction. You can dublicate this stack. You should write price as "5555555". Then you price will transforme to 401594. But after your logout and login - you will see that all items are in your bag and the same items are on the auction.

Check my video:
https://radikal.ru/video/LBpKjyvyadU

**Expected behavior**:

[2018-10-16 04:17] codestothestars commented on #1241
It's hard to tell whether it's exactly the same issue, but something similar and odd happened to me, as well. I died after using Eyes of the Beast, and when I called my pet after resurrecting, it had reverted back to its default NPC name, clicking Pet Details did absolutely nothing, and its action bar was completely empty. I checked the `character_pet` table in the database and saw that, oddly, th

[2018-10-16 08:04] killerwife commented on #1731
This is indeed not an issue, at least not in the cases you are describing.

[2018-10-16 08:04] #1731 closed

[2018-10-16 08:05] killerwife commented on #1730
Yes, but you are not supposed to see values of mobs, unless in GM mode. Right now we are missing a broadcast of HP values when leaving GM mode (.gm off), other than that there seem to be cases, which I do not know how to reproduce.

[2018-10-16 20:12] CabrasDaPeste commented on #1732
I coudn't reproduce this issue.

[2018-10-16 21:43] datchannin commented on #1732
I've checked it again 5 mins ago with the latest version on WotLK core. And it works for this WotLK core too.
Video:
https://radikal.ru/video/G3rnhF8ia4P

I believe it will be the same for classic core, but I don't have client to check it.

[2018-10-16 21:44] datchannin commented on #1732
If it necessary, I have this in console:
SQL: INSERT INTO auction (id,houseid,itemguid,item_template,item_count,item_randompropertyid,itemowner,buyoutprice,time,moneyTime,buyguid,lastbid,startbid,deposit) VALUES ('1', '6', '14', '2321', '19', '0', '1', '4015942448', '1539812276', '0', '0', '0', '10712', '142')
SQL ERROR: Out of range value for column 'buyoutprice' at row 1

[2018-10-17 06:38] hipejoe commented on #1732
I was able to confirm this. create a stack of 19 for auction and set buyout for the value in OP

[2018-10-17 15:43] datchannin commented on #1688
The Blood Furnace
Hellfire Familiar
npc=19016
npc=21646
spell=13341

Felguard Brute
npc=18894
npc=21645
spell=15615
spell=18072

shadowmoon-technician
npc=17414
npc=18618
spell=30846

[2018-10-17 15:45] datchannin commented on #1688
The Shattered Halls
Shadowmoon Acolyte
npc=16594
npc=20576
spell=15587 (15)
spell=31516 (15)
spell=15585 (12)
spell=35943 (12)
spell=36052 (20)
spell=35944 (20)

Shattered Hand Champion
npc=17671
npc=20584
spell=11972 (12)
spell=32588 (20)
spell=32587 (20)

Shattered Hand Brawler
npc=16593
npc=20582
spell=36033 (12)
spell=8876 (12)
spell=3391 (12)

shattered-hand-zealot
npc=17462
npc=20595
spell=3

[2018-10-17 15:46] datchannin commented on #1688
The Slave Pens
coilfang-soothsayer
npc=17960
npc=19890
spell=15791
spell=15790

coilfang-scale-healer
npc=21126
npc=21842
spell=37669
spell=34944

[2018-10-17 15:46] datchannin commented on #1688
The Steamvault
coilfang-siren
npc=17801
npc=20623
spell=37856
spell=35106

coilfang-oracle
npc=17803
npc=20622
spell=8281

[2018-10-17 15:48] datchannin commented on #1688
Mana-Tombs
ethereal-scavenger
npc=18309
npc=20258
spell=34920
spell=33871

ethereal priest
npc=18317
npc=20257
spell=34944
spell=37669

ethereal-theurgist
npc=18315
npc=20261
spell=32316
spell=17145
spell=38064

ethereal-spellbinder
npc=18312
npc=20260
spell=32316

[2018-10-17 15:48] datchannin commented on #1688
Sethekk Halls
sethekk-shaman
npc=18326
npc=20699
spell=22885
spell=32663
spell=15501

[2018-10-17 15:49] datchannin commented on #1688
The Botanic
Bloodwarder Greenkeeper
npc=18419
npc=21546
spell=34797
spell=39120
spell=39121
spell=34798
spell=34800

[2018-10-17 15:51] datchannin commented on #1688
The Mechanar
Bloodwarder Physician
npc=20990
npc=21523
spell=36340
spell=38921

Bloodwarder Centurio
npc=19510
npc=21522
spell=35178

Sunseeker Netherbinder
npc=20059
npc=21541
spell=35261
spell=38936

Sunseeker Engineer
npc=20988
npc=21540
spell=36341
spell=36345
spell=36346
spell=39196

mechanar-driller
npc=21528
npc=19712
spell=35056
spell=38923
spell=35047

bloodwarder-slayer
npc=19167
npc=215

[2018-10-17 15:52] datchannin commented on #1688
The Arcatraz
Ethereum Slayer
npc=20896
npc=21596
spell=36838
spell=38894

Spiteful Temptress
npc=20883
npc=21615
spell=36868
spell=38892

[2018-10-17 15:52] datchannin commented on #1688
OPEN WORLD
Felguard Elite
npc=8717
spell=16046 (20)
spell=13737 (20)

Hound of Culuthas
npc=20141
spell=36405

[2018-10-18 03:03] CabrasDaPeste commented on #1359
We need to figure it out a way to reproduce this 100% in order to solve it

[2018-10-18 11:58] Etherstream opened #1733 "[TBC] Undercity Guardian's Disease Cloud Hits Neutral Reputation Horde Players"
**Current behavior**:
Undercity Guardian's Disease Cloud hits Horde players when at neutral reputation with Undercity. At friendly reputation and above this doesn't occur.

**Expected behavior**:
I'm not 100% sure, but if I remember correctly, this shouldn't happen even at neutral reputation. Disease Cloud should only hit hostile players.

**Steps to reproduce**:
Stand near Undercity Guardian in U

[2018-10-18 18:59] bdebaere commented on #1730
So far I was able to reproduce it 100% of the time with Starving Mountain Lion.
.go creature Starving Mountain Lion

[2018-10-18 20:08] bdebaere commented on #1688
@killerwife From what source might we learn the cooldown? Wowhead says n/a for most of these.

[2018-10-20 08:16] a20eac1d commented on #1730
@bdebaere It has nothing to do with specific mobs or types.

@killerwife I don't know how to help you, but in the coming days I will read the client's memory to see if the client ACTUALLY thinks that the mob has a low hp value or if the UI is rendering it the wrong way.

[2018-10-20 08:31] Etherstream opened #1734 "[CLASSIC][TBC] Jumping Down From Shadowfang Keep Instance Doesn't Teleport You Out of the Instance"
**Current behavior**:
Nothing happens when you jump down from the wall of Shadowfang Keep to expected Silverpine Forest. You can just keep walking around the instanced Silverpine Forest.

**Expected behavior**:
You should get teleported out of the instance when you jump off the wall of Shadowfang Keep to Silverpine Forest.

**Steps to reproduce**:

1. Get inside the instance of Shadowfang Keep
2.

[2018-10-21 20:11] datchannin opened #1735 "[TBC] Crash core while try to login-logout quickly while on ship moving"
**Current behavior**:
Checked on latest release
![image](https://user-images.githubusercontent.com/39913306/47271910-74fef500-d586-11e8-8987-f29172190221.png)

While you are swimming on the ship from/to Booty Bay and use alt+f4 for log out + login again - server will crash.
Check my video:
https://radikal.ru/video/oYxNxeqnusl

**Expected behavior**:
Should not crash

**Steps to reproduce**:

1. Go

[2018-10-22 04:35] Lankytim commented on #1735
I was able to reproduce the crash.

Client version:
2.4.3
Commit hash:
6d22c093d0028e647a215bb6bc8abae57e267049
Database version:
1.7.0 commit 9f2211c3d6725659369bcf70acad96f6ff92de9d
Operating system:
Windows 7 64bit client; Linux Debian 9 server

[2018-10-22 09:51] datchannin commented on #1735
Seems this crash occurs not only while on ship. I've seen the same after disconnection while PVP, but I can't reproduce it again for create video. May be it has too complicate conditions. I can't understand dependence for reproduction.

[2018-10-22 17:30] AnonXS commented on #1039
Reworked / Resolved here: https://github.com/cmangos/tbc-db/commit/e4555a08113beb2395899c95694a7331ce2d6843#diff-8882d83d44ad5da160640aa84df413a6R26733

But probably follow some wired on spawn movement script where they follow the mob they summon themselves by casting 40186 on spawn.

[2018-10-24 12:39] CabrasDaPeste commented on #1735
Confirmed.

[2018-10-24 20:46] Rog360 commented on #1635
This issue seems to be fixed with this db revert... :)[https://github.com/cmangos/wotlk-db/commit/9b58af8af65a059beaaf47102013f4f6cd6b2225](url)

[2018-10-26 19:30] Saltgurka commented on #1688
@bdebaere
Spell IDs and their location on the action bar are from SMSG_PET_SPELLS_MESSAGE
Cooldowns are from SMSG_SPELL_COOLDOWN. Keep in mind though that many spells have random cooldown ranges and that will not be apparent from this packet. (you would have to cast it several times to get accurate values)

Me and Trugge has previously made quite a bit of progress on this topic and Slave Pens, Ste

[2018-10-27 14:05] bdebaere opened #1736 "[CLASSIC] Tsunaman"
**Current behavior**:
Tsunaman (11862), http://wowwiki.wikia.com/wiki/Tsunaman, is standing still and saying nothing except for in his quests.
**Expected behavior**:
He should be moving around and punching the campfire nearby. See "he will frequently move over to a campfire that has been built nearby and punch it with his watery fist". Also perhaps he has dialogue other than his quests? Currently

[2018-10-27 14:42] bdebaere opened #1737 "Q849 Revenge of Gann: no detonation"
**Current behavior**:
No detonation when casting detonate: https://www.youtube.com/watch?v=ipEotHENdBw&feature=youtu.be.
**Expected behavior**:
Some kind of detonation instead of the sudden disappearance of an entire airplane. :)
**Steps to reproduce**:

1. .quest accept 849
2. .go -4172 -2140 85 1
3. right click

**Client version**:
1.12.1
**Commit hash**:
DB 187c2f6f88c3aa8c73b33cdf7a89075b2cf21

[2018-10-27 15:14] bdebaere commented on #1699
Could not reproduce on classic.

[2018-10-27 15:42] bdebaere opened #1738 "[CLASSIC] Floating NPCs in Orgrimmar"
**Current behavior**:
Two NPCs are floating for me in Orgrimmar. All other NPCs are ok.
https://www.youtube.com/watch?v=_0hrM2ra4XI
https://www.youtube.com/watch?v=GAeDe1RrvqY
**Expected behavior**:
Not floating.
**Steps to reproduce**:

1. .go creature "Bounty Hunter Kolark"
2. .go 2029 -4723 26 1

**Client version**:
1.12.1
**Commit hash**:
DB 187c2f6f88c3aa8c73b33cdf7a89075b2cf216fa
Code 6f7d9f

[2018-10-27 18:05] #1039 closed

[2018-10-27 18:58] AnonXS commented on #1738
Cant confirm in tbc which has same path. But his NpcFlags is 268435458 in classic-db.

[2018-10-31 12:46] AnonXS commented on #1635
Info on why reopen

[2018-10-31 13:38] Tobschinski commented on #1635
no, you will never know why we do this

[2018-10-31 14:55] Rog360 commented on #1635
I closed the issue because I thought it was fixed with a db commit. Then found the db commit only fixed some of them. So, reopened and edited my last post... :)

[2018-11-01 09:14] kartoffelsup opened #1739 "[WOTLK] Elemental Focus' Clearcasting Charges Aren't Consumed When Using Damaging Spells"
**Current behavior**:
When having chosen the Elemental Focus (id: 16164) Talent in the Elemental Tree as a Shaman, one will enter a Clearcasting (id: 16246) state with two charges after a landing a critical hit with a damaging spell which will reduce the mana cost of the next two damaging or healing spells by 40%.

The charges are consumed when casting a healing spell (i.e. Healing Wave), but are

[2018-11-01 09:20] kartoffelsup opened #1740 "[WOTLK] Buff charges are not updated in the client"
**Current behavior**:
Buffs with charges are not correctly displayed/updated in the client. For example, the Shaman's Water Shield has 3 charges. If you get hit by an opponent, a charge is removed and you restore a specific amount of mana.

However, in the client, the Water Shield charges still show 3 - if you log out and back in it will show 2.

**Expected behavior**:
Buff charges are updated in

[2018-11-01 13:26] kartoffelsup opened #1741 "[WOTLK] Improved Revenge Makes Revenge Hit Every Target Instead of Just 1 Additional One"
**Current behavior**:
When [Improved Revenge](https://wow.gamepedia.com/Improved_Revenge_(warrior_talent)) has been talented, Warriors will hit every target in front of them with Revenge instead of just 2.

**Expected behavior**:
When [Improved Revenge](https://wow.gamepedia.com/Improved_Revenge_(warrior_talent))  has been talented, Warriors hit their target and one additional target with Revenge.

[2018-11-03 16:45] SilvioDoMine commented on #1735
@datchannin can you still confirm if this issue happen on the last commit?

[2018-11-04 11:09] Lankytim commented on #1735
I re-tested just now with mangos-tbc commit faec3d82b3febbe3485b7bdfae8ab140caa881c6.  Seems to be fixed for me.

[2018-11-04 11:18] Lankytim opened #1742 "[TBC] Crusader Aura Buffs Run Speed After Landing Off Gryphon"
**Current behavior**:
Paladin gains a buff to running speed after landing if he casts Crusader Aura while in flight on a transport.

**Expected behavior**:
Run speed upon landing should be like normal.

**Steps to reproduce**:

1. As paladin, activate Crusader Aura
2. Take a taxi flight
3. While in flight, dismiss Crusader Aura with right-click
4. While in flight, re-activate Crusader Aura
5. Upon

[2018-11-05 02:15] Ve1vet commented on #1638
@Warlockbugs, not the same.
#1732 related to DataBase exceeding the maximum value. Magos core can't work with it. I have such problem when one of those who have DB access decided to create a new character & than change character id for number, that was much higher than max id value. Guess what happen next :) All new created characters start delete most old characters beginning from 1, but only in

[2018-11-05 02:19] Ve1vet commented on #1732
@Warlockbugs price should be higher than max price value in DB table. Value depends from system.

[2018-11-05 02:35] Ve1vet commented on #1732
@Warlockbugs P.S. If it helps. Couple years ago max value was 214748 gold 36 silver 47 cooper. But he gets 401594 gold 24 silver 48 cooper... Something goes wrong here, somwhere mistake in data types( maybe converting data dypes ).

[2018-11-05 06:38] datchannin commented on #1735
For me it was fixed with commit 7f9a0b560f7df193094711d1d2b0f50de8e005c1 (Resolve teleports before reconnect).
I still can not reproduce crash after disconnect while PVP, but may be it was fixed too.

[2018-11-05 06:39] #1735 closed

[2018-11-05 07:15] datchannin commented on #1735
About crash while PVP: It was happen after my internet connection has been disappeared. May be it was problem?

[2018-11-05 16:30] SilvioDoMine commented on #1359
A simple git apply on this .diff can fix this issue. @cyberium said that he will push into the repo soon.

`diff --git a/src/shared/Network/Socket.cpp b/src/shared/Network/Socket.cpp
index b0964f3..37864fe 100644
--- a/src/shared/Network/Socket.cpp
+++ b/src/shared/Network/Socket.cpp
@@ -60,7 +60,8 @@ namespace MaNGOS

     void Socket::Close()
     {
-        assert(!IsClosed());
+		std::lock_gua

[2018-11-05 21:38] Rog360 opened #1743 "[WotLK] 2 invalid ACID Spells?"
Using QSW 3.3.5 Application

Spell 30998 not in DBC. Did find Spell 30986
`('1769502','17695','1','0','50','6','1000','1000','0','0','0','0','11','30998','0','32','0','0','0','0','0','0','0','0','Shattered` Hand Assassin - Cast Cheap Shot `OOC'),`

Spell 36626 not in DBC. No luck finding spell for spawning creature 21335
`('2077502','20775','0','0','100','1025','3000','9000','10000','15000','0','0

[2018-11-05 21:53] AnonXS commented on #1743
These just were not ported from tbc yet. they are missing "serverside" spells.

[2018-11-05 22:09] Rog360 commented on #1743
Ok, Thanks AnonXS... :)

[2018-11-06 00:00] Grz3s commented on #1743
they will be added soon* ;)

[2018-11-06 00:58] Rog360 commented on #1743
Thanks Grz3s. I'll close this one since it has been answered... ;)

[2018-11-06 00:58] #1743 closed

[2018-11-06 20:44] datchannin opened #1744 "[TBC] spell_bonus_data Table Adds 100% More Spell Bonus That Should Add"
**Current behavior**:
I see that Seel of Command (paladin, spell=20424) have 100% + 29% of spell bonus. I've tryed to
adjust spell_bonus using spell_bonus_data table and see this:

1. Spell_bonus_data = 0.29 (If > 0 Use this as new spell power coefficient.)
![image](https://user-images.githubusercontent.com/39913306/48091968-62d6b500-e21c-11e8-9e53-69ba88921cc7.png)

2. Spell_bonus_data = 0 (If =

[2018-11-11 15:46] killerwife commented on #1732
Fix coming soon™. Next week.

[2018-11-11 16:35] cyberium commented on #1722
I suggest not supporting PostgreSQL instead?

[2018-11-11 16:58] #1359 closed

[2018-11-11 23:09] #1645 closed

[2018-11-11 23:13] cala commented on #1645
Fixed for Classic.
I'll check tomorrow if this needs to be also pushed to TBC and WotLK (I guess so).

[2018-11-12 07:51] Lillecarl commented on #1722
Considering the psql wire protocol is being used for some really cool databases these days (see cockroach for example) I don't agree, but it's definitely a low priority issue. Why do we allow these tables to be null though?

A personal opinion is that postgresql these days is way more attractive then MySQL considering all different MySQL versions (oracle, Mariadb 5, mariadb 10 which we're only par

[2018-11-13 14:35] #1656 closed

[2018-11-13 15:03] #1722 closed

[2018-11-14 00:46] #1723 closed

[2018-11-14 08:56] #1611 closed

[2018-11-14 09:00] cala commented on #1611
Option for disabling botguy was added in https://github.com/cmangos/mangos-classic/commit/8c5be3b665b6a3f133261d2e675f19a47330c5dc

It does not fix the core crash as the same issue will occur every time someone overflows a integer config variable (the crash occurs when parsing config variables). But at some point, server admins should be careful about what they do.

[2018-11-14 09:34] the2ndface opened #1745 "[classic] an error on InstallFullDB.sh"
I install it on ubuntu18.04 with mysql5.7,an error on update mysql.
and now the  database name changed to classic***

process update updates/1454_z2685_01_mangos_event_linkedto.sql
mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1067 (42000) at line 3: Invalid default value for 'start_time'

**Expected behavior**:

[2018-11-14 14:00] jimmybrancaccio commented on #1611
I totally agree, and having the upper limit there now in the conf gives the server admin no reason to not read and follow that as a guide. Thanks @cala 👍

[2018-11-14 19:11] GnaXi opened #1746 "[Classic] Quest: Burning Blade Medallion"
**Current behavior**:
Cannot pick up quest item: Burning Blade Medallion.

**Expected behavior**:
To be able to pick it up.

**Steps to reproduce**:
1. Kill Yarrog Baneshadow
2. Try to pick up Burning Blade Medallion
3. Fail to pick it up

**Client version**:
1.12.1

**Commit hash**:
8c5be3b665b6a3f133261d2e675f19a47330c5dc

**Database version**:
Classic DB version 1.9 "The Black Dragonflight". Fo

[2018-11-14 21:41] AnonXS commented on #1746
cant confirm, works on tbc-db

[2018-11-14 22:07] Grz3s commented on #1746
wotlkDB also works perfect

[2018-11-14 23:46] #1721 closed

[2018-11-14 23:48] cala commented on #1721
Fixed. Thank you for reporting.
The fix also applies to WotLK core but it will have to wait for tomorrow.

[2018-11-14 23:50] cyberium commented on #1746
Ok its replicable but you have to be in group.

[code]
That patch should fix the issue. I'll test it more tomorrow and push it if its ok

[2018-11-15 01:08] GnaXi commented on #1746
Yeah. I was using playerbots. So I was in a group.
Should probably have mentioned that. Sorry! :)

[2018-11-15 08:57] cala commented on #1453
Should be fixed with the new EventAI system now. :+1:

[2018-11-15 09:30] #1745 closed

[2018-11-15 09:55] cala commented on #1648
Hi,

Thanks for your comments. Here are quick answers/explanations.

They do. As you noted, I added support functions for the purpose you describe. However, the target picking system in playerbot is not as good as it could be and currently a bot picking a neutralized enemy as a target will stick to that target and not attack it until the target is no longer neutralized. Hence, I did not yet deploy

[2018-11-15 14:34] AnonXS commented on #1453
No it's not, their script was just converted to new format, distancing was not added to spell 16075

[2018-11-15 14:43] SilvioDoMine commented on #980
I was looking into it today. It is just a tooltip error, @killerwife?

[2018-11-15 14:46] cala commented on #1453
Ok, I'll add it soon(tm).

[2018-11-15 14:58] SilvioDoMine opened #1747 "[TBC] Hellfire quests 10129 & 10146 Mission: Gateways Murketh and Shaadraz"
**Current behavior**:
When you use the provided item [Seaforium PU-36 Explosive Nether Modulator] on the gateways, you don't recieve the quest credit. Probably server-side spell related.

**Expected behavior**:
When you use the  [Seaforium PU-36 Explosive Nether Modulator], you should recieve the credit, in order to complete the quest.

**Steps to reproduce**:

1. Create and alliance, and level up

[2018-11-15 16:02] killerwife commented on #980
To this day I do not know for certain.

[2018-11-15 16:13] SilvioDoMine opened #1748 "9383"
**Current behavior**:

**Expected behavior**:

**Steps to reproduce**:

1.
2.
3.

**Client version**:

**Commit hash**:

**Database version**:

**Operating system**:

[//]: # (If this is a crash report, include the crashlog from a debug build with https://gist.github.com/)

[2018-11-15 16:13] #1748 closed

[2018-11-15 16:25] SilvioDoMine opened #1749 "[TBC] Hellfire Quest 9383 - An Ambicious Plan"
**Current behavior**:
When you use the item [Sanctified Crystal] on a dying Uncontroled Voidwalker, nothing happens.

http://db.hellfire-tbc.com/?item=23417
http://db.hellfire-tbc.com/?spell=29364

**Expected behavior**:
When you use the item, should kill the Uncontroled Voidwalker, and summon an crystal object nearby his corpse, and you should loot the [Glowing Sanctified Crystal].

Probably miss

[2018-11-15 16:31] SilvioDoMine opened #1750 "[TBC] Hellfire Quest 9545 - The Seer's Relic"
**Current behavior**:
When you use the item [Seer's Relic] on near Sendai's corpse, nothing happens.

**Expected behavior**:
When used the item, should summon some ghosts npcs for some roleplay mini-event, and then complete the quest. Source: https://www.youtube.com/watch?v=Q5yGPTNfWsM

**Steps to reproduce**:

1. .q add 9545
2. .go creature 86002
3. Use [Seer's Relic]

**Client version**:
2.4.3
*

[2018-11-15 16:36] SilvioDoMine opened #1751 "[BUG] Razormane Hunter (c. 3265) summon more than one pet"
**Current behavior**:
The mob Razormane Hunter summons more than one pet. Sometimes 2, sometimes 4.

![image](https://user-images.githubusercontent.com/20645369/48567145-86b48d80-e8e3-11e8-9f98-de1943dd6fdd.png)

**Expected behavior**:
They should have only one pet.

**Steps to reproduce**:

1. .go creature 20303
2. Search for any Razormane Hunter

**Client version**:
2.4.3
**Commit hash**:
 e2daa

[2018-11-15 16:47] Lillecarl commented on #1732
I'd say a good idea would be to start a transaction whenever doing money or item transfer, and if it fails roll back in game as well?

[2018-11-15 16:50] Lillecarl commented on #1719
@cyberium this is the MySQL weirdness I'm talking about

[2018-11-15 17:39] killerwife commented on #1732
https://github.com/cmangos/mangos-tbc/commit/09306e6e11b02cd634365b8442db47801278da3e
Fixed

[2018-11-15 17:39] #1732 closed

[2018-11-15 19:55] Grz3s commented on #1751
mothod not used by TBCDB but it fixes your issue..
[code]

[2018-11-15 20:08] #1751 closed

[2018-11-16 01:53] Lillecarl commented on #1732
Interesting how it slipped through this long!

[2018-11-16 06:50] the2ndface opened #1752 "[classice]unable connect to sever"
**Current behavior**:
When I open wow.exe and login ,display"Disconnect from the server"，No verification account password，so I thick something wrong.
**Expected behavior**:

**Steps to reproduce**:
I follow the installation instructions to install,and the server can be run. I can create account on mangosd window.
The configuration file is as follows：
**mangosd.conf:**
`RealmID = 1
DataDir = "../sh

[2018-11-16 14:07] SilvioDoMine commented on #1752
@the2ndface you are having problems with configuration, and this isn't an issue with the emulator. You should seek for help in our Discord or Forum. visit: https://cmangos.net to get the links.

[2018-11-16 16:11] jimmybrancaccio opened #1753 "[WOTLK] The Missing Diplomat - Cannot Complete"
**Current behavior**:

After obtaining The Missing Diplomat quest (https://www.wowhead.com/quest=1265/the-missing-diplomat) and heading over to Sentry Point. You can see and talk to Archmage Tervosh but nothing happens.

![2018-11-16 09_48_47-world of warcraft](https://user-images.githubusercontent.com/405585/48631706-c41d2780-e984-11e8-98d0-c00c6d8cc7f3.png)

**Expected behavior**:

You should be

[2018-11-16 16:29] jimmybrancaccio opened #1754 "[WOTLK] Raptor Captor - Cannot Capture Raptors"
**Current behavior**:

When attempting to utilize the Sturdy Rope to capture raptors, it won't actually allow you to capture them. The animation shows as if you're trying to capture them, but nothing happens. I've attached a video of me attempting to capture the raptors:

https://youtu.be/0ryDeiLbcU4

**Expected behavior**:

When using the sturdy rope it should allow you to capture the raptor. I'v

[2018-11-16 16:42] jimmybrancaccio opened #1755 "[WOTLK] Take Down Tethyr! - Cannot Use Cannons"
**Current behavior**:

When you take the quest, you can see Tethyr appear, but are not able to use the cannons to shoot at him. I've attached a video to further display what is happening.

https://youtu.be/AdgP5lFMqxk

**Expected behavior**:

Upon obtaining the quest there should be marksmen that run out to their post (this does not appear to happen, they just seem to "magically" appear. Then once

[2018-11-16 17:07] jimmybrancaccio opened #1756 "[WOTLK] Winterfall Ritual Totem - Cannot Talk to Kernda"
**Current behavior**:

After becoming Neutral with Timbermaw Hold speaking or attempting to speak to the NPC, Kernda nothing will happen. Here's a video of my attempt. Please note, I was Neutral before trying this but even tried manually adjusting my reputation with Timbermaw Hold to Friendly to see if that had any effect, it did not. I used the command:

`.modify rep 576 Friendly`

https://youtu.

[2018-11-16 20:05] #1719 closed

[2018-11-16 20:54] jimmybrancaccio commented on #1752
Hi @the2ndface! Thanks for taking the time to submit your issue. As noted by the other two, our GitHub is not for support of CMaNGOS but rather to report issues once you have it up and running. If you need assistance in getting it going please don't hesitate to join us on our Discord (
https://discord.gg/Dgzerz). We'd be happy to give you a hand in there.

[2018-11-16 20:54] #1752 closed

[2018-11-16 21:01] jimmybrancaccio commented on #1715
Closing this as resolved. If you should have any further issues which are not bugs in the core or database, please don't hesitate to reach out to us on Discord (https://discord.gg/Dgzerzb) if you need further assistance.

Else if you've got a bug to report, go ahead and submit it here on GitHub. Thanks!

[2018-11-16 21:01] #1715 closed

[2018-11-17 00:29] Grz3s commented on #1753
\src\game\AI\ScriptDevAI\scripts\kalimdor\dustwallow_marsh.cpp
[code]
should be added soon

[2018-11-17 01:12] jimmybrancaccio commented on #1746
This should now be resolved in cmangos/mangos-classic@c9d36e2. Please open a new issue if you're still experiencing any issues. Thanks!

[2018-11-17 01:12] #1746 closed

[2018-11-17 01:19] Grz3s commented on #1754
quest 27242 was added in 4.0.3.13277
im sure you talking about.. q.11146 'Raptor Captor'
- fixed

[2018-11-17 02:02] Grz3s commented on #1756
it works fine...
check if you havent got "at war" selected with them
![fefef](https://user-images.githubusercontent.com/2374069/48655277-d80c6c00-ea0c-11e8-8847-05e901c05e86.jpg)

[2018-11-17 04:32] jimmybrancaccio commented on #1756
@Grz3s Looks like you're correct. I had 'At War' checked off. I wasn't aware of option in the UI that but that seems to have done the trick. Unchecking it allows me to talk to the NPC and complete the quest.

We can consider this one closed. Thank you for taking a look into the issue. I'm surprised no one at WowHead had left that as a comment.

![2018-11-16 22_22_05-world of warcraft](https://user

[2018-11-17 04:32] #1756 closed

[2018-11-17 04:55] Warlockbugs commented on #1756
Most likely, retail server did auto-untick on "At War" flag upon gaining certain reputation level, but that's just a guess.

[2018-11-17 07:48] jimmybrancaccio commented on #1704
Closing this out as Cannot Reproduce. I've just fetched a fresh copy of tbc-db (cmangos/tbc-db@a231e74) today and run the installation script without error.

[code]

If you're still experiencing any issues please don't hesitate to connect with us on Discord. We'd be happy to help.

[2018-11-17 07:48] #1704 closed

[2018-11-17 08:07] jimmybrancaccio commented on #1641
Hello, thank you for taking the time to submit this bug. Unfortunately without clear steps for replication and what the exact issue is it will be too difficult to resolve this issue. Please re-submit your case with detailed information so the development team may further look into the issue. Each unique issue should have its own case in GitHub. Thank you.

[2018-11-17 08:07] #1641 closed

[2018-11-17 08:08] jimmybrancaccio commented on #1639
Hello, thank you for taking time to submit your issue. We do not presently provide support for setting up CMaNGOS in GitHub. Please connect with us on Discord if you're still having any issues. We'd be happy to lend a hand. Thanks!

[2018-11-17 08:08] #1639 closed

[2018-11-17 08:10] jimmybrancaccio commented on #1636
Hello, thank you for taking time to submit your issue. We do not presently provide support for setting up CMaNGOS in GitHub. Please connect with us on Discord if you're still having any issues. We'd be happy to lend a hand. Thanks!

[2018-11-17 08:10] #1636 closed

[2018-11-17 08:12] jimmybrancaccio commented on #1632
Closing as duplicate of #827.

[2018-11-17 08:12] #1632 closed

[2018-11-17 08:14] jimmybrancaccio commented on #1650
Closing as a duplicate of #827.

[2018-11-17 08:14] #1650 closed

[2018-11-17 08:14] jimmybrancaccio commented on #1531
Closing as a duplicate of #827.

[2018-11-17 08:14] #1531 closed

[2018-11-17 08:15] jimmybrancaccio commented on #1352
Closing as a duplicate of #827.

[2018-11-17 08:15] #1352 closed

[2018-11-17 08:31] cala commented on #1352
Wow! A storm of closing is coming. ^_^

[2018-11-17 08:34] jimmybrancaccio commented on #1536
Hello, thank you for taking time to submit your issue. We do not presently provide support for setting up CMaNGOS in GitHub. Please connect with us on Discord if you're still having any issues. We'd be happy to lend a hand. Thanks!

[2018-11-17 08:34] #1536 closed

[2018-11-17 08:36] jimmybrancaccio commented on #1525
Closing this as resolved.

[2018-11-17 08:36] #1525 closed

[2018-11-17 08:40] jimmybrancaccio commented on #1518
Hello, thank you for taking the time to submit these issues. Please resubmit them if you're still having issues with them utilizing the bug reporting template (shown when you open a new issue).

[2018-11-17 08:40] #1518 closed

[2018-11-17 08:44] jimmybrancaccio commented on #1514
Hello, thank you for taking time to submit this issue. I have attempted to replicate it using the wotlk-db and was unable too. If you're still experiencing this issue please create a new case in GitHub.

[2018-11-17 08:44] #1514 closed

[2018-11-17 08:46] jimmybrancaccio commented on #1517
Hello, thank you for taking the time to submit these issues. Please resubmit them if you're still having issues with them utilizing the bug reporting template (shown when you open a new issue).

[2018-11-17 08:46] #1517 closed

[2018-11-17 08:47] jimmybrancaccio commented on #1515
Closing this out as resolved. Please connect with us on Discord if you're still having any issues. We'd be happy to lend a hand. Thanks!

[2018-11-17 08:47] #1515 closed

[2018-11-17 08:48] killerwife commented on #827
Just fyi, this month.

[2018-11-17 08:50] jimmybrancaccio commented on #1510
Closing this as it does not appear these are default SQL modes:

[code]

[2018-11-17 08:50] #1510 closed

[2018-11-17 08:51] jimmybrancaccio commented on #1503
Hello, thank you for taking the time to submit these issues. Please resubmit them if you're still having issues with them utilizing the bug reporting template (shown when you open a new issue).

[2018-11-17 08:51] #1503 closed

[2018-11-17 08:56] jimmybrancaccio commented on #1484
@AnonXS Is this one good to close then?

[2018-11-17 09:02] jimmybrancaccio commented on #1473
Hello, thank you for taking the time to submit these issues. Please resubmit them if you're still having issues with them utilizing the bug reporting template (shown when you open a new issue).

[2018-11-17 09:02] #1473 closed

[2018-11-17 11:56] Grz3s commented on #1754
update your db.. quest should work fine now

[2018-11-17 14:52] MantisLord commented on #1753
The core change proposed above would do the job, however this quest currently works in TBC because of this change here I believe:
https://github.com/cmangos/tbc-db/commit/0507d98106b6f748c85e23660a7ab173a6cd49b7#diff-7bb3b090ddfcf8db095c6fb5b7ff99f2R3

[2018-11-17 15:03] CabrasDaPeste opened #1757 "[TBC] First Underbog BOSS Hungafaren is regenerating too much HP (Normal Mode)"
**Current behavior**:
When Hungafaren gets low HP, we will cast in himself the spell Foul Spores, snares himself and starts healing. But the heal is way too strong.

**Expected behavior**:
He should heal only 10% of this max life.

**Steps to reproduce**:

1. level up 60+
2. .go creature 5460101
3. Engage fight with him until 25% HP.

**Observation:** On heroic mode works fine.

**Client version**

[2018-11-17 15:54] Grz3s commented on #1753
@MantisLord
well... yes adding your part will fix this quest.
however .. it makes next one ..
 not to start at all...  (involves the same npc)
Can you pls look if next one "the missing diplomat" -- Subdue Private Hendel. works on your side?

[2018-11-17 16:17] Grz3s commented on #1753
no idea to be honest...
it does the job...
Fix added:
https://github.com/cmangos/wotlk-db/commit/b1345b5696ce3cfad64a256053b33d8ee0e70711

Can be closed...

[2018-11-17 20:23] yatzi888 opened #1758 "[TBC] Kael'thas Sunstrider/Illidan Stormrage Boss Encounters Don't Start"
**Current behavior**: Running up to Kaelthas or Illidan triggers the RP text/voice for the beginning of the fights but instead of the [Kaelthas]first mob becoming attackable after the inital RP, the encounter resets and repeats the same thing as described or [Illidan]The boss goes back to kneel stance and the encounter doesn't start.

Both mobs start as unattackable, which makes me think this is p

[2018-11-17 21:07] yatzi888 commented on #1747
Can confirm. I had to make the quest auto-complete to avoid confusion.

[2018-11-17 21:59] Rog360 commented on #1657
Seems this was fixed in [https://github.com/cmangos/wotlk-db/commit/b1345b5696ce3cfad64a256053b33d8ee0e70711](url)

[2018-11-17 21:59] #1657 closed

[2018-11-17 22:16] jimmybrancaccio commented on #1420
I've attempted to replicate this today using WotLK and could not. Is this still happening for anyone involved in this thread or may we close this one out?

I will attempt to allocate some time to see if I can replicate it with Classic.

[2018-11-17 22:30] jimmybrancaccio commented on #1377
Given the length of time between this and reports of it being non-reproducible I am closing this one out. Please don't hesitate to reopen a new issue with full details if you can replicate the issue. Thanks!

[2018-11-17 22:30] #1377 closed

[2018-11-17 22:31] jimmybrancaccio commented on #1375
Could this possibly be related to #1177?

[2018-11-17 22:36] jimmybrancaccio commented on #1345
Closing this out per above comment. If you're continuing to still have any issues with this please don't hesitate to open a new issue (you may also reference #1345 if you do). Thanks!

[2018-11-17 22:36] #1345 closed

[2018-11-17 22:39] jimmybrancaccio commented on #1342
Hello @boxa, is this still an issue or may we close this case out?

[2018-11-17 22:47] jimmybrancaccio commented on #1314
Closing as duplicate.

[2018-11-17 22:53] jimmybrancaccio commented on #1292
Much appreciated. One of the core developers will be in touch should we be further interested.

[2018-11-17 22:53] #1292 closed

[2018-11-17 22:54] jimmybrancaccio commented on #1281
Hello, thank you for taking the time to submit these issues. Please resubmit them if you're still having issues with them utilizing the bug reporting template (shown when you open a new issue).

[2018-11-17 22:54] #1281 closed

[2018-11-18 03:32] jimmybrancaccio commented on #1753
Closing this out as resolved in cmangos/wotlk-db@b1345b5.

[2018-11-18 03:32] #1753 closed

[2018-11-18 04:31] jimmybrancaccio commented on #1420
I tested this tonight with cmangos/cmangos-classic@b555cd3 and cmangos/classic-db@2c040f9 and could not replicate the issue. If this is still a problem please open a new issue with full details so it can be investigated more.

Of note, I went back and forth between Ratchet and Booty Bay about 4-5 times, staying on the boat the entire time.

[2018-11-18 04:31] #1420 closed

[2018-11-18 04:37] jimmybrancaccio commented on #1360
I've attempted to replicate but cannot. All seems to be working fine. Please open a new issue if you're still experiencing problems. Thanks!

[code]

No errors we received during running of those commands. Tested with Classic.

- cmangos/cmangos-classic@b555cd3
- cmangos/classic-db@2c040f9

[2018-11-18 04:37] #1360 closed

[2018-11-18 04:39] jimmybrancaccio commented on #1355
@cqqjjf Can you confirm if this is still an issue on the latest code? If so can you provide the exact steps needed to replicate the issue?

[2018-11-18 04:43] jimmybrancaccio commented on #1754
Oops, you're right @Grz3s! Looks like the correct Wowhead link is:

https://www.wowhead.com/quest=11146/deprecated-raptor-captor

Marking this one as resolved by cmangos/wotlk-db@ea7a4c2.

[2018-11-18 04:43] #1754 closed

[2018-11-18 04:48] jimmybrancaccio commented on #1276
This one looks to be resolved now. May you confirm if we can close this case out @MantisLord or @Grz3s?

[2018-11-18 04:50] jimmybrancaccio commented on #1282
Closing this as a duplicate of #1218.

[2018-11-18 04:50] #1282 closed

[2018-11-18 13:31] #1021 closed

[2018-11-18 17:33] jimmybrancaccio commented on #1240
Hello,

Thank you for taking the time to submit this issue. Please resubmit it with the exact steps needed to replicate the issue.

Thanks,

[2018-11-18 17:33] #1240 closed

[2018-11-18 17:36] jimmybrancaccio commented on #1231
@gaosheng136 Are you still experiencing issues with this? Can you provide the exact steps we can use to replicate this issue?

[2018-11-18 17:40] jimmybrancaccio commented on #1212
Closing this out due to inactivity. If this is still an issue please create a new issue so we may further investigate.

[2018-11-18 17:40] #1212 closed

[2018-11-19 00:04] lduguid opened #1760 "[Classic] Rot Hide Graverobber in Trisfal Glades cast Curse of Thule (-2 Spirit) on themselves"
**Current behavior**:
Rot Hide Graverobber in Trisfal Glades cast Curse of Thule (-2 Spirit) on themselves

**Expected behavior**:

Should cast curse on player the NPC is attacking.

**Steps to reproduce**:

1.  Initiate combat with a Rot Hide Graverobber in Trisfal Glades
2.  attack until they cast curse.
3.

**Client version**:

1.12.1

**Commit hash**:

commit b555cd3e53020ca21cdb4d0e1783ebd8b9

[2018-11-19 02:16] jimmybrancaccio commented on #1207
Hello, can you let us know if this you're still seeing this?

[2018-11-19 02:19] jimmybrancaccio commented on #1201
As per @Grz3s it seems like this is a non-issue. I am closing this for now, however if you're still experiencing any problem, please open a new issue in GitHub so we may further investigate. Thanks!

[2018-11-19 02:19] #1201 closed

[2018-11-19 07:18] DanielBallaSZTE commented on #1314
@jimmybrancaccio
Excuse me?
You mark the issue as duplicated having it linked to the issue itself?

[2018-11-19 07:35] MantisLord commented on #1276
It appears you are correct. This has since made it into all 3 DBs.
Thank you for pointing out @jimmybrancaccio

[2018-11-19 07:35] #1276 closed

[2018-11-19 07:40] MantisLord commented on #1758
Full Kael rework by Killerwife is coming soon™ so please no one spend too much time on that one.

[2018-11-19 08:42] AnonXS commented on #1760
https://github.com/cmangos/tbc-db/commit/5cbfcb4aea3d5565a8b80e25f0530bab41f27bf9

[2018-11-19 09:37] yatzi888 commented on #1758
Sounds great looking forward to it 👍

[2018-11-19 09:40] yatzi888 commented on #1744
Does this mean any spell linked to the spell_bonus table has a 100% dmg increase or am I understanding this incorrectly?

[2018-11-19 09:54] datchannin commented on #1744
I don't know about "all" spells, because I can not test all from the table.
But it connected to Paladin spells. Seems paladin has some differences from other classes.

[2018-11-19 10:31] #1760 closed

[2018-11-19 12:45] killerwife opened #1761 "Speed Altering Buffs Do Not Work During Possess"
Spells like 37920, i.e. having SPELL_AURA_MOD_INCREASE_SPEED or SPELL_AURA_MOD_INCREASE_SWIM_SPEED do not update speed when possessing a creature.

Steps to reproduce(with ally):
.quest add 10612
.go creature id 21790
use box nearby to mind control fel reaver
use Turbo Boost ability in the bar

Expected behaviour:
Running speed should be increased. Right now it is not.

Works perfectly on TBC bran

[2018-11-19 13:00] AnonXS commented on #1757
https://github.com/cmangos/mangos-tbc/blob/be8c47ff9d30a8eb52edae850f439116e5479f40/src/game/AI/ScriptDevAI/scripts/outland/coilfang_reservoir/underbog/boss_hungarfen.cpp#L28

spell=31673

I'll recheck if there is another spell used in normal, but i doubt it. https://wow.gamepedia.com/Hungarfen

* seems invalid to me

[2018-11-19 13:07] AnonXS commented on #1600
Dynamic Movement was nuked alltogether, can be closed.

[2018-11-19 13:10] killerwife commented on #1600
Kept in core until all is converted to new ranged AI. Thread is invalid anyhow.

[2018-11-19 13:10] #1600 closed

[2018-11-19 13:11] AnonXS commented on #1483
AI was fixed here: https://github.com/cmangos/tbc-db/commit/551d93a1058dc23163c0caf47296e5ec4dbae27a#diff-8882d83d44ad5da160640aa84df413a6R943

not sure about pathing, i think that also works on tbc at least.

[2018-11-19 13:21] AnonXS commented on #1471
Dynamic Movement was removed - closed.

[2018-11-19 13:33] AnonXS commented on #1334
Linked GoTrap Removal - Export pending

[2018-11-19 13:37] AnonXS commented on #1330
Everything except ACTION_T_DBSCRIPT are already added, could use discussion about if launching dbscript with eai (what db scripts? new table?) is needed.

[2018-11-19 13:42] AnonXS commented on #1275
Linked to https://github.com/cmangos/issues/issues/1688 which already has more useful data.

[2018-11-19 13:43] #1471 closed

[2018-11-19 13:45] AnonXS commented on #1210
Duplicate https://github.com/cmangos/issues/issues/1617, "Black Temple - Illidan Encounter Review"

[2018-11-19 13:47] AnonXS commented on #1200
resolved? extracted data issue? CMaNGOS Discord https://discord.gg/Dgzerzb has link to most recent data.

[2018-11-19 13:51] AnonXS commented on #983
Orientation Update on Stun Aura - Export pending

[2018-11-19 13:52] killerwife commented on #1437
Yes, I second that statement. The AI for them is not perfect by any means, even at this point, but it absolutely requires SD2 for proper management.

[2018-11-19 13:52] #1456 closed

[2018-11-19 13:53] killerwife commented on #983
Actually exported already. https://github.com/cmangos/mangos-tbc/commit/523941d3d1093e009bfb7b3da35b831784626091#diff-ca2439f8cc7d37988fda1b6f07e25e7fR9818

[2018-11-19 13:53] #983 closed

[2018-11-19 13:54] killerwife commented on #1334
Exported in https://github.com/cmangos/mangos-wotlk/commit/91abe1210db0371cbe7e7464cbd5f472daddf7fc

[2018-11-19 13:54] #1334 closed

[2018-11-19 13:54] killerwife commented on #1330
It already exists as ACTION_T_START_RELAY_SCRIPT

[2018-11-19 13:54] #1330 closed

[2018-11-19 13:55] #1210 closed

[2018-11-19 13:55] AnonXS commented on #874
Linked to https://github.com/cmangos/issues/issues/1688

[2018-11-19 13:56] killerwife commented on #1200
I would like to know that as well. If someone sees this in 2 months, close it.

[2018-11-19 13:56] AnonXS commented on #873
Linked to https://github.com/cmangos/issues/issues/1688, but rather serverside core implementation for cooldowns being displayed correctly. Maybe is even resolved with correct cooldown being applied.

[2018-11-19 13:58] killerwife commented on #873
This one was actually reported due to quest Smallest Creatures. That quest even has a bug on retail. Hence, declaring this one non-issue. The other linked ones are still valid tho.

[2018-11-19 13:58] #873 closed

[2018-11-19 13:58] AnonXS commented on #868
recently saw in code that something is in place for "GuardAI" npcs so maybe they also need something similar.

[2018-11-19 13:59] AnonXS commented on #957
Resolved due to recent reworks by @Warlockbugs

[2018-11-19 14:01] jimmybrancaccio commented on #1314
Apologies @DanielBallaSZTE Reopened!

[2018-11-19 14:01] #957 closed

[2018-11-19 14:03] AnonXS commented on #435
Resolved due to reworks by @Warlockbugs

[2018-11-19 14:04] killerwife commented on #1314
https://github.com/cmangos/mangos-tbc/blob/master/src/game/Entities/Unit.cpp#L11435
This code is responsible for this behaviour. That code I believe was added after this issue was resolved. @jimmybrancaccio please test it. The code is present in all cores.

[2018-11-19 14:05] #435 closed

[2018-11-19 14:07] jimmybrancaccio commented on #1483
@AnonXS Awesome, thank you! If anyone is able to test the pathing that would be excellent. Then we can consider this a case closed!

[2018-11-19 14:10] jimmybrancaccio commented on #1200
I'll do some replication on this and close if I'm not seeing anything. Thanks @AnonXS & @killerwife!

[2018-11-19 19:16] CabrasDaPeste commented on #1757
We will re-test it. Ty.

[2018-11-19 20:51] jimmybrancaccio commented on #1200
Cool, thank you @Grz3s! Closing this one out as resolved. If anyone sees any further issues with this please don't hesitate to open a new case.

[2018-11-19 20:51] #1200 closed

[2018-11-19 21:18] AnonXS commented on #1234
No Issue Data wise, problem seems to be the Pathfinding Issues some npcs have when being at "bottom water level" instead of swimming they will just move along the ground.

![unbenannt](https://user-images.githubusercontent.com/19734826/48735530-f363bb00-ec48-11e8-921b-a4641a5b2a87.PNG)

edit: seems to work normal now but should maybe despawn on waypoint 30 instead of glitching back to spawn and de

[2018-11-19 21:41] #1339 closed

[2018-11-19 23:12] jimmybrancaccio commented on #1177
I've gotten word in our Discord chat this issue is resolved. Would you be able to speak to that @cyberium or @killerwife? Much appreciated on your input.

[2018-11-19 23:32] jimmybrancaccio commented on #1140
Checking in here to see if this is a case we can close out. Thanks guys!

[2018-11-19 23:39] jimmybrancaccio commented on #1130
Can anyone confirm which version(s) this affects? All three?

[2018-11-20 02:00] jimmybrancaccio commented on #1757
That sounds good @CabrasDaPeste Please let us know the results.

[2018-11-20 02:02] jimmybrancaccio opened #1762 "AHBot Does Not Fill Auction House with Quest Items"
This is likely related to #1427.

**Current behavior**:

Even if you set Quest items to a priority of 10, the bot does not seem to fill the auction with any quest items.

**Expected behavior**:

Setting the highest priority level to a certain group of items should allow the bot to fill the auction house with those items.

**Steps to reproduce**:

1. Compile the latest codebase 0 any version should

[2018-11-20 05:53] cyberium commented on #1762
Why? Why would you need to add quest item in AH? Want to buy Onyxia head?

[2018-11-20 06:06] Levitanious commented on #1762
<laughed> I believe Onyxia's head is quest-bound (bind type: quest), however Green Hills of Stranglethorn aren't -- so you can buy them.

[2018-11-20 06:46] jimmybrancaccio commented on #1762
@cyberium I think, at least in my use case, people are impatient or just don't have time to kill creatures in hopes of certain quest items dropping and would just prefer to purchase them from the auction house.

Unfortunately I only had time to test this out in Classic, but it's better illustrated in the auction house UI  of say WOTLK where 'Quest' is a sub-category under Miscellaneous. To further

[2018-11-20 09:19] yatzi888 commented on #1762
I'd love it if someone could look at the AHbot not posting gems. Pretty please!

[2018-11-20 12:47] Muehe commented on #1140
I'm unsure what, if anything, @killerwife has done about the ominous plans for `ExclusiveGroup`, would be interested to know.

Also with the condition system now implemented I think there is a discussion to be had about keeping DB fields which could be replaced by conditions. I know this would be a pretty big change, but having two systems in place which handle the same stuff seems unwise. DRY pri

[2018-11-20 12:52] killerwife commented on #1140
ExclusiveGroup is still limited, but its still a valid use. I added condition column to quest_template which enables us to handle more complex conditions. The reason against using conditions everywhere, is potential issue of updating quest givers when something critical changes. Right now I have not found such an issue in classic and tbc, there might be an issue with Cold Weather Flying in wotlk I

[2018-11-20 19:21] jimmybrancaccio commented on #1762
Just to add some clarification, I was wrong, Quests is actually it's own category in the auction house. Screenshot from WotLK:

![screen shot 2018-11-20 at 1 20 17 pm](https://user-images.githubusercontent.com/405585/48797210-2b114800-ecc7-11e8-91dc-73e9a4fb5729.png)

[2018-11-20 19:29] jimmybrancaccio commented on #1762
@yatzi888 I can also confirm this works with gems:

![screen shot 2018-11-20 at 1 19 10 pm](https://user-images.githubusercontent.com/405585/48797639-5ba5b180-ecc8-11e8-97a0-d3f509b209f4.png)

[2018-11-20 19:38] jimmybrancaccio commented on #1103
@Phatcat Does this apply to all versions or only a specific version?

[2018-11-20 19:40] jimmybrancaccio commented on #1091
Could possibly be fixed along with #1501.

[2018-11-20 19:44] jimmybrancaccio commented on #1053
Closed as per above comment. Please create a new case if there are any further issues.

[2018-11-20 19:44] #1053 closed

[2018-11-20 19:45] jimmybrancaccio commented on #1051
@SilvioDoMine Do you have the bandwidth to further test this and confirm if it's resolved?

[2018-11-20 19:46] jimmybrancaccio commented on #1050
Closing as this is an incomplete case submission. Please re-open a new case with full details if you're still experiencing this problem. Thanks!

[2018-11-20 19:46] #1050 closed

[2018-11-20 19:46] jimmybrancaccio commented on #1049
@Grz3s Do you know if this issue still exists?

[2018-11-20 19:49] jimmybrancaccio commented on #1029
@dazidkk Can you confirm if this is still an issue for you?

[2018-11-20 19:49] jimmybrancaccio commented on #1026
@dazidkk or @SilvioDoMine Can you confirm if this is still an issue?

[2018-11-20 19:52] jimmybrancaccio commented on #1218
This was resolved for WotLK (#1019). Closing as a duplicate of #1019.

[2018-11-20 19:52] #1218 closed

[2018-11-20 19:53] jimmybrancaccio commented on #1019
@killerwife Would you be able to confirm if this is resolved in 2.x ? Thank you!

[2018-11-20 19:58] killerwife commented on #1019
Yes. Resolved by fixing EAI.

[2018-11-20 19:58] #1019 closed

[2018-11-20 20:00] jimmybrancaccio commented on #1003
Can anyone confirm if this is still an issue in any versions?

[2018-11-20 20:01] AnonXS commented on #1049
same as this https://github.com/cmangos/issues/issues/1200

[2018-11-20 20:02] jimmybrancaccio commented on #1049
Awesome, thanks @AnonXS. Closing this one out as resolved then!

[2018-11-20 20:02] #1049 closed

[2018-11-20 20:03] jimmybrancaccio commented on #999
@Leadballoon2000 Do you have a link to the PR? I'm not seeing it. Resubmit if necessary. Thanks!

[2018-11-20 20:05] jimmybrancaccio commented on #994
@celroot Can you confirm if this is still an issue?

[2018-11-20 20:07] jimmybrancaccio commented on #985
Can anyone fill me in if this case and the issues described within are still problems?

[2018-11-20 20:09] AnonXS commented on #999
https://github.com/TBC-DB/Database/pull/44/files

[2018-11-20 20:12] jimmybrancaccio commented on #999
Duh, completely missed that comment above, thanks @AnonXS!

[2018-11-21 02:08] Warlockbugs commented on #1029
Spell damage bonus coefficient [is definitely in](https://github.com/cmangos/mangos-classic/blob/master/sql/base/mangos.sql#L10502). Closing this as resolved.

[2018-11-21 02:08] #1029 closed

[2018-11-21 02:27] CabrasDaPeste opened #1763 "Crashes on Object.h"
Don't know exatcly what cause them. But here's two core dumps.

**Client version**:
2.4.3 (8606)

**Commit hash**:
00666387394559dcc8ba5b589a305b3dfe033fb5

**Database version**:
370151f3e6f07cf1ce625a10b94b8a0a8410d281

**Operating system**:
Debian 9

https://gist.github.com/CabrasDaPeste/0359f946a89e85c1c7727c9b1cea5d82
&&
https://gist.github.com/SilvioDoMine/9e9459fbc6237382fe4c31a709215c5a

[2018-11-21 03:32] jimmybrancaccio commented on #1763
Hello @CabrasDaPeste Can you provide the database commit hash as well, you may update your original posting with that information. Thank you!

[2018-11-21 13:49] CabrasDaPeste opened #1764 "Blade's Edge Mountain - Quest 10714 - On Spirit's Wings - Using Rexxar's Whistle Does Nothing"
**Current behavior**:
When you use the provided item Rexxar's Whistle on the desired spot, nothing happens.

**Expected behavior**:
When the item is used, should summon two ogres, and you could watch their conversation, and then the quest would be complete.

**Steps to reproduce**:

1. .quest add 10714
2. .go creature 77756
3. Use [Rexxar's Whistle] on both mobs.

**Client version**:
2.4.3 (8086)

[2018-11-21 13:51] CabrasDaPeste commented on #1223
Confirmed.

[2018-11-21 14:00] CabrasDaPeste opened #1765 "Blade's Edge Mountain - Quest 10911 - Fire At Will!"
**Current behavior**:
When you use the provided item [Naturalized Ammunition] near by the fel cannon, they transform into your pet. They follow the character, you can send they to attack, etc; Also, the spell that should destroy the warps can be used, their animation is right, but doesn't give credits to the quest.

**Expected behavior**:
When used the provided item near the fel cannon, they shoul

[2018-11-21 19:53] jimmybrancaccio commented on #999
@killerwife or @AnonXS Would this be something we could look at getting into the database, would you guys prefer it to be a PR against cmangos/tbc-db instead?

[2018-11-22 14:51] adellaci opened #1766 "Pilgrim's Bounty event"
The event shows in the active event list, yet when i go outside the gates of Stormwind & Ironforge there is no event going on.

CMaNGOS/0.18 (2018-11-18T12:38:16+01:00 - 3c76d923a21b7b1a8c4aca24065a4511508e07ff) for Linux_x64 (little-endian)
Clean install of database.

[2018-11-22 15:23] adellaci commented on #1766
Another thing i noticed was that the update submitted ([WOTLK] Food Spell Buff Patch #1570) for the buff to this event where not added to the database. When i hand entered them into the DB they function as intended.

[2018-11-22 15:51] #1693 closed

[2018-11-22 17:28] adellaci opened #1767 "Expert's Training Dummy Dies Upon Attacking"
**Current behavior**: Upon attacking Expert's Training Dummy, dummy dies with one point of damage

**Expected behavior**: Expert's Training Dummy should never die

**Steps to reproduce**:

1. Go to any of the Training Dummies in a major city
2. Attack dummy
3.

**Client version**: WotLK 3.3.5a

**Commit hash**:  3c76d923a21b7b1a8c4aca24065a4511508e07ff

**Database version**: WoTLKDB v1.1 'The Wars

[2018-11-22 17:33] adellaci opened #1768 "Master's Training Dummy Dies Upon Attacking"
**Current behavior**: Upon attacking Master's Training Dummy, dummy dies with one point of damage

**Expected behavior**: Master's Training Dummy should never die

**Steps to reproduce**:

1. Go to any of the Training Dummies in a major city
2. Attack dummy
3.

**Client version**: WotLK 3.3.5a

**Commit hash**: 3c76d923a21b7b1a8c4aca24065a4511508e07ff

**Database version**: WoTLKDB v1.1 'The Warso

[2018-11-23 01:19] jimmybrancaccio commented on #1766
Hello, Please resubmit this using the template provided when creating the issue. Please ensure to include all requested details. Thanks.

[2018-11-23 01:19] #1766 closed

[2018-11-23 01:19] jimmybrancaccio commented on #1767
Hello,

Please include the database commit hash as well. You may edit your original post to include this information.

Thanks,

[2018-11-23 01:20] jimmybrancaccio commented on #1768
Hello,

Please include the database commit hash as well. You may edit your original post to include this information.

Thanks,

[2018-11-23 01:34] CabrasDaPeste opened #1769 "Server Crash While Prospecting (Jewelcraft)"
**Current behavior**:
If you use Prospect on a item stack, and don't loot all items and close the bag, and then try to prospect again, the server crashes.

Its calling this assert here:
`mangosd: /home/ptr/mangos/src/game/Entities/Item.cpp:1178: void Item::SetLootState(ItemLootUpdateState): Assertion `m_lootState == ITEM_LOOT_NONE' failed.
Aborted`

**Expected behavior**:
I don't quite remember wh

[2018-11-23 01:45] CabrasDaPeste opened #1770 "You Can Loot Disenchanted Items Twice"
**Current behavior**:
If you click twice real fast after disenchant an item, you'll get the items twice, duplicating them.

This issue is related to the new looting system.

**Expected behavior**:
You shouldn't be able to get doubled itens.

**Steps to reproduce**:

1. .learn 28029
2. .setskill 333 375
3. .add 25157
4. Use Disenchant on the [Serpentlord Claymore]
5. When the looting window opens,

[2018-11-23 01:56] CabrasDaPeste opened #1771 "Disenchant Doesn't Destroy Items, You Can Reuse Disenchant Forever"
**Current behavior**:
After you used disenchant, the item isn't destroyed. You can loggout, and loggin, and disenchant them again.

**Expected behavior**:
The item should be destroyed after you disenchant them.

**Steps to reproduce**:

1. .learn 28029
2. .setskill 333 375
3. .add 25157
4. Use Disenchant on the [Serpentlord Claymore]
5. Loot the item
6. Logoff
7. Login
8. Notice that you can use D

[2018-11-23 04:15] KP580BM1 commented on #1747
### Try this
DELETE FROM `dbscripts_on_spell` WHERE `id`=33655;
INSERT INTO `dbscripts_on_spell` (`id`, `delay`, `command`, `datalong`, `datalong2`, `datalong3`, `buddy_entry`, `search_radius`, `data_flags`, `dataint`, `dataint2`, `dataint3`, `dataint4`, `x`, `y`, `z`, `o`, `comments`)
VALUES
	(33655, 1, 8, 19291, 1, 0, 19291, 100, 1, 0, 0, 0, 0, 0, 0, 0, 0, ''),
	(33655, 1, 8, 19292, 1, 0, 19292,

[2018-11-23 09:11] yatzi888 commented on #1747
@KP580BM1 I'll try this tonight and report back. :)

[2018-11-23 11:47] adellaci opened #1772 "Grand Master's Training Dummy Dies Upon Attacking"
**Current behavior**: Upon attacking GrandMaster's Training Dummy, dummy dies with one point of damage

**Expected behavior**: GrandMaster's Training Dummy should never die

**Steps to reproduce**:

1. Go to any of the Training Dummies in a major city
2. Attack dummy
3.

**Client version**:WotLK 3.3.5a

**Commit hash**:  3c76d923a21b7b1a8c4aca24065a4511508e07ff

**Database version**: WoTLKDB v1.1

[2018-11-23 12:12] adellaci opened #1773 "Pilgrim's Bounty Event"
**Current behavior**: No event going on outside of the major citys

**Expected behavior**: Pilgrim's Bounty happen outside the major citys

https://wowwiki-archive.fandom.com/wiki/Pilgrim%27s_Bounty?oldid=2387038

**Steps to reproduce**:

1. Go outside the gate of the major citys
2.
3.

**Client version**: WotLK 3.3.5a

**Commit hash**: 3c76d923a21b7b1a8c4aca24065a4511508e07ff

**Database version*

[2018-11-23 12:13] adellaci commented on #1768
@jimmybrancaccio
Where can i get the database commit hash?

[2018-11-23 12:14] adellaci commented on #1767
@jimmybrancaccio
Where can i get the database commit hash?

[2018-11-23 12:31] berserkingyadis commented on #1771
Cant reproduce. The item disappears

commt: 637aeb57f9358e156853d42c4d7c47a3b5aac14a

[2018-11-23 12:33] berserkingyadis commented on #1769
No crashes here, gm or no. Only thing when gm is, that the ores dont get consumed.

core commit: 637aeb57f9358e156853d42c4d7c47a3b5aac14a
db commit: 6b03cb53bbcba01919817e0a111062db18e91990

op: archlinux

[2018-11-23 12:37] berserkingyadis commented on #1770
Cant reproduce. You can only loot 1 times the yield. Maybe im not double fast enough

commt: 637aeb57f9358e156853d42c4d7c47a3b5aac14a

os: archlinux

[2018-11-23 16:17] jimmybrancaccio opened #1774 "mangosd Is Crashing With Boost Error"
**Current behavior**:

The mangosd binary is crashing with a boost error:

[code]

**Expected behavior**:

mangosd to not crash.

**Steps to reproduce**:

1. Build the latest versions of mangosd.
2. Utilize the information in [this gist](https://gist.githubusercontent.com/Lillecarl/0bba766b9e077cea0c5c52c9e1f91352/raw/a59b264d4f563c2c23d8c7ca4e937c8de82abbaf/debug) to run mangosd with GDB.
3. Wait

[2018-11-23 16:18] jimmybrancaccio commented on #1768
@adellaci Go into the directory of your database - e.g., `cd /home/mangos/wotlk-db` and run:

[code]

[2018-11-23 16:19] jimmybrancaccio commented on #1772
Hello, Please include your database commit hash as well.

You may go into the directory of your database - e.g., `cd /home/mangos/wotlk-db` and run:

[code]

[2018-11-23 16:19] jimmybrancaccio commented on #1773
Hello, please also include your database commit hash. You may go into the directory of your database - e.g., `cd /home/mangos/wotlk-db` and run:

[code]

[2018-11-23 16:47] jimmybrancaccio commented on #1771
Closing as Can't Reproduce.

[2018-11-23 16:47] #1771 closed

[2018-11-23 17:42] datchannin commented on #1728
Found the same issue if player was summoned during taxi. Player can fly without mount after summon. (the latest release)

[2018-11-23 18:29] adellaci commented on #1767
Thank you @jimmybrancaccio

[2018-11-23 19:40] ChrisPappalardo commented on #1587
I couldn't reproduce the bug on latest.  I'll re-open a ticket if it happens again.  Thanks for following up!

[2018-11-23 19:40] #1587 closed

[2018-11-23 20:00] cyberium commented on #1769
Should be fixed

[2018-11-23 20:00] #1769 closed

[2018-11-23 20:01] cyberium commented on #1770
Should be fixed

[2018-11-23 20:01] #1770 closed

[2018-11-23 22:45] jimmybrancaccio commented on #1774
As per discussion with @cyberium in Discord, I am running mangosd again with level 3 logging as it appears the last stack call was not caught in the crash dump. Will report back with new crash log once it happens again.

[2018-11-23 23:09] jimmybrancaccio commented on #941
@ROKB Can you let us know if this is still an issue in the latest Classic builds?

[2018-11-23 23:11] jimmybrancaccio commented on #938
@ROKB or @dazidkk Can you confirm if this is still an issue on the latest builds?

[2018-11-23 23:13] jimmybrancaccio commented on #918
@ROKB Can you confirm if this is still an issue in the latest builds?

[2018-11-23 23:15] jimmybrancaccio commented on #917
Closing this one out as per last comment. Please open a new issue with full details if you're still experiencing any problems. Thanks!

[2018-11-23 23:15] #917 closed

[2018-11-23 23:16] jimmybrancaccio commented on #901
@killerwife @AnonXS Safe to close this one out?

[2018-11-23 23:19] jimmybrancaccio commented on #882
@wrsx Can you confirm if this is still an issue in the latest builds?

[2018-11-23 23:39] jimmybrancaccio commented on #832
@X-Savior Can you confirm if this is still an issue in the latest commits?

[2018-11-23 23:50] jimmybrancaccio commented on #793
Likely related to #1240?

[2018-11-23 23:55] jimmybrancaccio commented on #778
@cyberium @killerwife Is this still an issue or can we close this one out?

[2018-11-23 23:56] jimmybrancaccio commented on #769
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-23 23:56] #769 closed

[2018-11-23 23:56] jimmybrancaccio commented on #767
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-23 23:56] #767 closed

[2018-11-23 23:57] jimmybrancaccio commented on #747
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-23 23:57] #747 closed

[2018-11-23 23:58] jimmybrancaccio commented on #746
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-23 23:58] #746 closed

[2018-11-23 23:58] jimmybrancaccio commented on #745
@Kelzior Is this still an issue with the latest versions?

[2018-11-23 23:59] jimmybrancaccio commented on #738
@Warlockbugs Can we get some feedback on this issue? Thanks 😁

[2018-11-24 00:06] jimmybrancaccio commented on #722
@Kelzior @Ve1vet Do you know if this is an issue in the latest commits?

[2018-11-24 00:07] jimmybrancaccio commented on #715
@cooler-SAI Can you let us know if this is still an issue in the latest commits? I don't recall it but I would love your input.

[2018-11-24 00:11] jimmybrancaccio commented on #654
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-24 00:11] #654 closed

[2018-11-24 00:12] jimmybrancaccio commented on #640
@Kelzior Can you confirm if this is still an issue in the latest commits?

[2018-11-24 00:13] jimmybrancaccio commented on #637
@Kelzior Can you confirm if this is still an issue in the latest commits.

[2018-11-24 00:14] jimmybrancaccio commented on #628
Closing this out as it appears to be an issue with UDB and not CMaNGOS. Please create a new issue if you're still experiencing any problems. Thanks.

[2018-11-24 00:14] #628 closed

[2018-11-24 00:18] jimmybrancaccio commented on #625
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-24 00:18] #625 closed

[2018-11-24 00:19] jimmybrancaccio commented on #612
Closing this out as an incomplete issue. If this is still a problem please open a new issue with full details. Thanks.

[2018-11-24 00:19] #612 closed

[2018-11-24 00:57] jimmybrancaccio commented on #532
@ROKB Can you confirm if this is still an issue in the latest commits?

[2018-11-24 00:58] jimmybrancaccio commented on #502
@TheTrueAnimal Can you confirm if this is still an issue in the latest commits? Also what version was this happening under?

[2018-11-24 03:31] jimmybrancaccio commented on #424
Hello, I invite you connect with us Discord if you still have questions on this. I am closing this one out for now.

[2018-11-24 03:31] #424 closed

[2018-11-24 03:36] jimmybrancaccio commented on #396
Closing this one out since it doesn't seem there's much interest in it. Please re-open a new case with full details if you wish to pursue this.

[2018-11-24 03:36] #396 closed

[2018-11-24 03:36] jimmybrancaccio commented on #373
@Warrior94 Can you confirm if this is still an issue in the latest commits?

[2018-11-24 03:37] jimmybrancaccio commented on #305
@tarwyn Can you confirm this is still in issue in the latest commits?

[2018-11-24 03:37] jimmybrancaccio commented on #304
@tarwyn Can you confirm if this is still an issue in the latest commits?

[2018-11-24 03:38] jimmybrancaccio commented on #296
I don't believe this is still an issue but I can test on WotLK. @Metalica Can you confirm which version you were seeing this issue on?

[2018-11-24 03:39] jimmybrancaccio commented on #295
@tarwyn Can you confirm if this is still an issue in the latest commits?

[2018-11-24 03:40] jimmybrancaccio commented on #293
@killerwife Just touching base on this one since it's been a while 😁

[2018-11-24 03:41] jimmybrancaccio commented on #260
@xfurry or @Grz3s Do we know if this is still an issue?

[2018-11-24 03:42] jimmybrancaccio commented on #245
@tarwyn Can you confirm if this is still an issue on the latest commits?

[2018-11-24 03:43] jimmybrancaccio commented on #241
Hello, I am closing this out due to an incomplete report. If this is still an issue please open a new case with full details so we can further investigate.

[2018-11-24 03:43] #241 closed

[2018-11-24 03:43] jimmybrancaccio commented on #236
@Cromisa Can you confirm if this is still an issue with the latest commits?

[2018-11-24 03:44] jimmybrancaccio commented on #219
@AnonXS Do you know if this is still an issue which needs to be fixed?

[2018-11-24 03:47] jimmybrancaccio commented on #197
@Azelen Can you confirm if this is still an issue in the latest commits.

[2018-11-24 03:48] Lillecarl commented on #396
@jimmybrancaccio
Is it a good idea to close issues because there's currently no interest in fixing them? It's still an issue.

[2018-11-24 03:49] jimmybrancaccio commented on #145
As we are not actively developing for CATA I am going to close this issue out.

[2018-11-24 03:49] #145 closed

[2018-11-24 03:50] jimmybrancaccio commented on #128
Pinging @cala and @Laizerox on this one. Are we looking to implement this or may we close this one out?

[2018-11-24 03:51] jimmybrancaccio commented on #108
Adding this to Needs Replication.

@overy Please open a new issue if you're having a problem with auctions.

[2018-11-24 03:53] jimmybrancaccio commented on #94
@xfurry or @Schmoozerd I assume this was submitted against Classic, can either of you confirm?

[2018-11-24 03:55] jimmybrancaccio commented on #61
Closing this one out since it does not seem reproducible.

[2018-11-24 03:55] #61 closed

[2018-11-24 03:57] jimmybrancaccio commented on #2
I will be splitting this out into their own individual issues shortly.

[2018-11-24 03:59] jimmybrancaccio commented on #396
@Lillecarl Closed per Cyberiums comment above. I'm all for keeping them open if it's making things more Blizzlike though.

[2018-11-24 08:42] killerwife commented on #293
Done a few months ago.

[2018-11-24 08:42] #293 closed

[2018-11-24 08:44] cala commented on #778
Yes and no. The original reason for this script can now be handled in DB. However, there is a feature in Classic (currently missing) and related to innkeepers that might require to script their gossip via SD2.

I’m not sure for now, this needs to be investigated further.

[2018-11-24 08:46] cala commented on #745
Poking @killerwife but I think he fixed this mechanics earlier this year.

[2018-11-24 09:00] killerwife commented on #901
I believe can be closed. I did some changes in June.

[2018-11-24 09:00] #901 closed

[2018-11-24 09:00] killerwife commented on #882
This one needs a manual recheck.

[2018-11-24 09:01] killerwife commented on #832
Old.

[2018-11-24 09:01] #832 closed

[2018-11-24 09:01] killerwife commented on #793
Old. I exported updated script this year.

[2018-11-24 09:01] #793 closed

[2018-11-24 09:08] killerwife commented on #722
I changed these functions, so this should be fixed now.

[2018-11-24 09:08] #722 closed

[2018-11-24 09:08] cala commented on #722
I’m pretty sure @killerwife fixed this with his magnetized spells/objects commits.

[2018-11-24 09:10] killerwife commented on #745
@cala doublecheck this:
select * from spell_affect where entry IN(27855);
'27855', '0', '128'
tbc-db has it fixed indeed

[2018-11-24 09:26] #532 closed, assigned to nobody

[2018-11-24 09:31] killerwife commented on #245
That was really long time ago. Needs to be manually rechecked. 99% this already works.

[2018-11-24 09:31] killerwife commented on #241
This is also fixed already.

[2018-11-24 09:32] killerwife commented on #236
Fixed just like the other issue that reported this.

[2018-11-24 09:32] #236 closed

[2018-11-24 09:33] killerwife commented on #197
This is no longer an issue. Shadow Weaving was fixed, so that its now applied on channel start like its intended to be.

[2018-11-24 09:33] #197 closed

[2018-11-24 09:39] killerwife commented on #94
After inspecting the core, this is no longer an issue.

[2018-11-24 09:39] #94 closed

[2018-11-24 09:41] killerwife commented on #778
@cala you mean the instance queuing?

[2018-11-24 10:51] cooler-SAI commented on #715
now all works)

[2018-11-24 10:51] #715 closed

[2018-11-24 10:57] Warlockbugs commented on #715
Clientside redndering bug, no relation to the server. Looks like it was running under WINE. I've seen similar texture issues in other Blizzard-made games.

[2018-11-24 11:02] Warlockbugs commented on #128
We need a unified looking for group matching system for all cores. The core functionality is more or less the same for all versions, with the difference being UI/client-side/categories parts and addition of what i call "dungeon sessions" in WotLK's RDF.
I would like to work on matching system, but i am in the permanent lack of time.

[2018-11-24 12:08] Evolvee commented on #197
Its not intended to be applied on channel start.

[2018-11-24 13:56] D33rhunt3r opened #1775 "New Hunters"
**Current behavior**:
Seems to have the same problems as #1174,  and include:
After completing the quest string to get Summon pet.  you finish by seeing the pet trainer in my case "Ganaar" the pet trainer in the Exodar, to receive "Revive pet" and "Feed Pet".  But after talking to the Pet Training you do not get either spell.

**Expected behavior**:
When finishing the pet quest and speaking with t

[2018-11-24 14:02] adellaci commented on #1775
@D33rhunt3r
Go to directory that you "git pull" CMaNGOS and type
'git rev-parse HEAD`
and do the same for the database

[2018-11-24 14:06] berserkingyadis commented on #1771
Technically you CAN reproduce when you are in gm, no?

[2018-11-24 14:19] D33rhunt3r commented on #1775
Server Hash:
b08fa044ac453c2569668d4b9d2384ea95df4fe1
DB Hash:
3c101da2de04ba2975c241f3990c2198cce42fb8

Thanks,  I'll keep this in mind for the next time.

[2018-11-24 14:52] cala commented on #778
@killerwife yes, the instance queueing that will need the meeting stone system mentionned [here](https://github.com/cmangos/issues/issues/128) but also various lore and description gossips for every dungeon available at players level. This was a feature specific for Classic.

[2018-11-24 17:02] zjx2172 opened #1776 "Playerbots Not Listing Items Outside Main Bag When Interacting With Merchant"
**Current behavior**:
When interacting with a merchant, playerbots whisper items they could sell. The list of items only includes items in their main bag.
**Expected behavior**:
Playerbots should list items in all bag slots.
**Steps to reproduce**:

1.  Instruct playerbot to loot enough items to fill their main bag +1
2. Interact with merchant/vendor
3. Note that the playerbot's whispered sell lis

[2018-11-24 18:54] jimmybrancaccio commented on #1698
@Grz3s or @AnonXS Is this something we should get into the database then if it seems to resolve the issue?

[2018-11-24 19:03] jimmybrancaccio commented on #1674
Pinging @MantisLord to see if we can get some additional feedback on this.

[2018-11-24 19:09] jimmybrancaccio commented on #1668
This sounds more like a feature request as it appears the output is intended to be like this. Marking as such.

[2018-11-24 19:09] AnonXS commented on #1698
https://github.com/cmangos/tbc-db/commit/aa9817454085039486ebe883ffb7c8718404580b

https://github.com/cmangos/wotlk-db/commit/c053fbd22cef451ba51a00f262ac52db9c542d79

[2018-11-24 19:11] jimmybrancaccio commented on #1662
@Rog360 Is this still an issue? Can you confirm if it happens on an OS newer then 10 years old?

[2018-11-24 19:15] jimmybrancaccio commented on #1651
Closing this one out per the above comment.

[2018-11-24 19:15] #1651 closed

[2018-11-24 19:17] jimmybrancaccio commented on #1648
@cala Would you like to leave this issue open as a reminder of work that needs to be done?

[2018-11-24 19:17] Ghaster opened #1777 "Support For More Than 28 Bag Slots"
CMaNGOS-Classic currently only support bags with up to 28 slots. However, the 1.12.1 client does actually support 36 slot bags, just like TBC and WotLK. The issue lies in UpdateFields in the core that are not correct for CONTAINER_END.

To fix this, CONTAINER_END needs to be changed from:
`CONTAINER_END                              = ITEM_END + 0x3A`
to:
`CONTAINER_END

[2018-11-24 19:29] jimmybrancaccio commented on #1582
@Purownage So that we may properly look into this issue, if it's still an issue can you open a new case with full details. Thank you.

[2018-11-24 19:29] #1582 closed

[2018-11-24 19:30] jimmybrancaccio commented on #1581
@Purownage So that we may properly look into this issue, if it's still an issue can you open a new case with full details including steps for replication. Thank you.

[2018-11-24 19:30] #1581 closed

[2018-11-24 19:31] jimmybrancaccio commented on #1580
@keyshuwen Can you confirm if this is an issue on the latest commits?

[2018-11-24 19:34] jimmybrancaccio commented on #1568
@keyshuwen @dagochen Is this still an issue for you on the latest commits?

[2018-11-24 19:48] jimmybrancaccio commented on #1427
Closing this out in favor of #1762.

[2018-11-24 19:48] #1427 closed

[2018-11-24 19:55] jimmybrancaccio commented on #1300
Tagging core devs to see if we can get some further insight on this - @cyberium @killerwife @cala @Warlockbugs

[2018-11-24 19:55] cala commented on #1648
Yes, for now. I shall reformulate it into something better development-wise later if need be.

[2018-11-24 20:00] jimmybrancaccio commented on #1246
@gaosheng136 Is this is still an issue with the latest commits?

[2018-11-24 20:33] jimmybrancaccio commented on #1246
@killerwife For the sake of making this issue have some value, I am going to adjust it so it focuses on ensuring Improved Sap (https://wow.gamepedia.com/Dirty_Tricks_(old)) is tested as working.

[2018-11-24 20:35] jimmybrancaccio commented on #1777
@Ghaster Can you submit a diff or PR on this?

[2018-11-24 21:07] Ghaster commented on #1777
Submitted👍

[2018-11-24 21:54] #745 closed

[2018-11-24 21:55] cala commented on #745
The SQL change was indeed missing (not yet ported, probably) from Classic DB. This is now fixed (applied and tested in-game).

[2018-11-24 21:56] cala commented on #745
@jimmybrancaccio by the way: thanks for changing the colour for most of the labels: there are more readable (and less agressive) in my opinion.

[2018-11-24 23:40] jimmybrancaccio commented on #1698
Awesome, thanks @AnonXS. If I understand correctly and am looking at [the Updates directory](https://github.com/cmangos/classic-db/tree/master/Updates) correctly, we still need to add this into classic-db?

[2018-11-24 23:41] jimmybrancaccio commented on #1662
Thank you for the update @Rog360. I'm going to go ahead and close this one out then. If you're still seeing issues with it please open a new case with full details. Thanks!

[2018-11-24 23:41] #1662 closed

[2018-11-24 23:42] jimmybrancaccio commented on #1648
Sounds good, thank you for the update @cala.

[2018-11-25 03:31] jimmybrancaccio commented on #1776
For the sake of replicating this, it looks like you need to have the option `PlayerbotAI.SellGarbage` set to 1 so that the bot attempts to sell his junk. If this is not enabled the bot does not attempt to sell any  garvage items thus no whisper with a listing of his items. That said, I can confirm this as reproducible in cmangos/cmangos-classic@58f9345

When talking to a vendor he lists only the i

[2018-11-25 04:41] jimmybrancaccio commented on #56
I can confirm this is still an issue in cmangos/mangos-wotlk@0592a05. Not only did it give me a skill point in my weapon but it killed me as well when I attacked the dummy. Used the Training Dummies in Undercity in the War Quarter.

[2018-11-25 12:35] Phatcat commented on #1146
Yeah no, thats wrong. In tbc and classic they are not supposed to disappear when you mount up and they are supposed to keep up with your mount speed. Same for summoned guardians.

[2018-11-25 12:42] killerwife commented on #1146
http://wowwiki.wikia.com/wiki/Patch_2.1.0
Warlock and Hunter pets will now be automatically dismissed when you summon a mount. These pets will return on dismount. This does not affect pet happiness for Hunters.

Vanilla only.

[2018-11-25 12:50] Phatcat commented on #1103
If nothing else it affects Classic, but i don't see why it wouldn't affect the other cores. I dont have the ability to test it on any core at the time being.

[2018-11-25 13:07] Phatcat commented on #128
Its a missing feature, whyd you want to close this issue? One thing is cleaning up the tracker, but unless this has been implemented already then it makes no sense to close this. Closing the issue only hides the problem that its lacking, which begs the question why have an issue tracker at all...

[2018-11-25 13:10] Phatcat commented on #1146
Alright, I was basing it on an old tbc video which must've been recorded prior to 2.1 then. Good catch.

[2018-11-25 13:34] madmax765 commented on #1662
I update my OS from windows  server 2008 r2 to Windows server 2016 standard Did a fresh pull today Commits on Nov 25, 2018  e45254ea3b12437a73a77639407ae9f545283c4e
And I am still getting this error.

[2018-11-25 14:19] Phatcat commented on #1679
I guess since noone cares to dig it out from my pet patches or remember, here is the proof; http://web.archive.org/web/20070222092151/http://petopia.brashendeavors.net/html/articles/stats_families.shtml

And here is me getting schooled on how stat modifiers are applied to pets after I initially tried to hardcode it in; https://github.com/cmangos/mangos-classic/commit/86cb54fd6938d4b9045d65f259bcfa

[2018-11-25 14:59] cala commented on #1698
Backport is probably still pending for Classic DB. I’ll close this issue once I ported the fix.

[2018-11-25 19:24] Zooke opened #1778 "Imp & Voidwalker Pets Have No Armor"
**Current behavior**:
Imp/Voidwalker have 0 armor
**Expected behavior**:
Imp/Voidwalker should have armor
**Steps to reproduce**:

1. Summon pet, see armor value on pet tab is 0.
2. Send pet into battle, check combat log to see pet takes full damage.
3. Values appear to be in the database so core is failing to apply them. Hunter pets work fine so possibly an error just in Warlock pet code.

**Clie

[2018-11-25 19:53] adellaci commented on #1775
Confirmed. Failed to learn spells Revive Pet (id# 982) and Feed Pet (id# 6991) after being trainer to tame pet

Had to issue command ".learn 982" & ".learn 6991" to get the two spells

[2018-11-25 19:58] killerwife commented on #1775
Spell ID 1579 has to be learned upon quest completion. Please check if that is added in DB. Maybe check against other quests and tbc-db.

[2018-11-25 20:52] Zooke opened #1779 "Vultros Model is Not Scaled Correctly"
**Current behavior**:
Vultros too small.
**Expected behavior**:
Vultros is big like https://www.youtube.com/watch?v=uV-b6pgQmDU
**Steps to reproduce**:

1. Spawn Vultros
2. See he is not big like the video
3. Suggested Fix
UPDATE `mangos`.`creature_template` SET `Scale`='3' WHERE `Entry`='462';

**Client version**:
1.12
**Commit hash**:
latest
**Database version**:
latest
**Operating system**:
W10

[2018-11-25 22:34] adellaci commented on #1775
@killerwife
Spell ID is in the database and listed as "Tame Beast". When we complete the pet quest we get tame beast. call pet, & dismiss pet, but we did not receive Revive Pet & Feed Pet

[2018-11-25 22:39] killerwife commented on #1775
Different spell ID 5300. I believe a different quest awards that.

[2018-11-25 22:50] adellaci commented on #1775
spell ID 5300 is Beast Training according to DB

[2018-11-25 23:56] Zooke opened #1780 "Vultros Loot is Incorrect"
**Current behavior**:
Vultros drops the dagger 100%
**Expected behavior**:
Vultros drops a cape most of the time and the dagger less often.
**Steps to reproduce**:

1. Spawn Vultros
2. Kill Vultros
3. Loot Vultros
I am guessing this came from https://github.com/cmangos/classic-db/commit/eb37cbe0f660d950f7766ed2e1e253d2c8d6bd48

Suggested fix
UPDATE `mangos`.`reference_loot_template` SET `ChanceOrQ

[2018-11-26 00:48] adellaci opened #1781 "Server Core Crashing in Ubuntu 16.04"
**Current behavior**: Server crashes on "2018-11-25 19:33:24 ERROR:SESSION: received not allowed opcode CMSG_LFG_GET_STATUS (0x0296)"

**Expected behavior**: Not to crash

**Steps to reproduce**:

1. Start mangosd
2. Login with character
3. After short period of playing the server crashes

**Client version**: 3.3.5a

**Commit hash**: e9dfec78da25363609d034aa8b833d58d55ae151

**Database version**:

[2018-11-26 02:00] #1668 closed

[2018-11-26 02:00] madmax765 commented on #1668
seems to be ok now

[2018-11-26 02:16] CabrasDaPeste commented on #1781
@jimmybrancaccio this may be linked with #1774?

[2018-11-26 08:46] ChrisRadi opened #1782 "Instance Uldaman: Unknown Spell ID 24889 Lets One of the Keepers Focus on You"
**Current behavior:**
We currently have a strange error in the pre-chamber before "The Hall of Crafters" with the ancient stone keepers. At the beginning all keepers are still dead and waiting for someone who triggers them with the table in the middle of the room. But there is a strange behavior when a Druid call the spell "Dire Bear Form" (Aura/Spell ID 9634), then one of the keepers gets just al

[2018-11-26 09:05] RichardGe2 opened #1783 "[Classic] Question concerning map extractor"
Hi, it seems map extractor built from source code is currently not working for Classic ( only works for WOTLK ? ).
error on Classic : "Could not read dir_bin file"
What's the status on that ?
I know we can take the bin from mangos-classic/releases ,
but where is the valid source code of this build then ?

[2018-11-26 09:16] killerwife commented on #1783
Tbc should be working as well. Maybe I did some sort of mistake. @cyberium will check it out when he has time. There might be a non-trivial difference between vanilla and tbc that I personally do not know about.

[2018-11-26 09:39] cala commented on #1783
@RichardGe2 we may need more details here. I built the extractors from sources yesterday evening and extracted all maps for Classic. I did that on mac OS (aka *NIX plateform). So at least the source code seems ok.

The only issue I had is that extrators shell scripts are not copied in the build directory, I had to pick them from `/contrib/extractor_scripts`.

[2018-11-26 10:07] RichardGe2 commented on #1783
I tried again with my own build.. and I think you are right, it seems to work.
Don't know what happened the first time :)

[2018-11-26 10:07] #1783 closed

[2018-11-26 12:54] Zooke opened #1784 "Brack and Slark patrol too slowly"
**Current behavior**:
Brack and Slark patrol too slowly
**Expected behavior**:
They run along the shore considerably faster than players.
**Steps to reproduce**:

1. Observe npc's along beach in Westfall
2.
3.

**Client version**:
1.12
**Commit hash**:
latest
**Database version**:
latest
**Operating system**:
W10LTSC

[//]: # (If this is a crash report, include the crashlog from a debug build with

[2018-11-26 13:03] wrsx commented on #882
@jimmybrancaccio I dont play anymore so unfortunately cant test this, sorry!

[2018-11-26 15:32] cala commented on #1779
Scales from TBC-DB/WotLK-DB are not transposable to Classic-DB as it seems 3D models in DBC were rescaled (probably in patch 2.0.1). Basically, scale=0 means "use default model scale from DBC" for Classic DB. I'll push the fix soon.

[2018-11-26 15:39] AnonXS commented on #1784
[code]
Note that path 90206 is missing in classic-db.

[2018-11-26 17:24] jimmybrancaccio commented on #1771
@berserkingyadis If we can reproduce the issue using different parameters lets get a new issue open with full details and steps for replication.

[2018-11-26 17:31] jimmybrancaccio commented on #1781
This is definitely possible @CabrasDaPeste! I don't believe the issue is with the message 'CMSG_LFG_GET_STATUS' as I reported this but I believe the answer I got from devs on this was just that the Looking For Group status wasn't implemented in a way to return something valid.

You're probably going to have to enable crash dumps @adellaci to get something useful out of this. And perhaps crank up y

[2018-11-26 17:31] jimmybrancaccio commented on #882
No problem @wrsx We'll get it tested on our end.

[2018-11-27 00:41] CabrasDaPeste commented on #1026
This issue is solved, and can be safely closed now, @jimmybrancaccio.

[2018-11-27 00:41] jimmybrancaccio commented on #1026
Awesome, thank you for the update @CabrasDaPeste 👍

[2018-11-27 00:41] #1026 closed

[2018-11-27 00:51] adellaci commented on #1781
@jimmybrancaccio
I have been running the server with "LoadAllGridsOnMaps = "DO"" up to and including the update i did on Friday to cmangos, & wotlk-db. I have a server large enough to have the whole world live and it has worked great. That is running weeks at a time, never had a crash.

Sunday i did a git pull on cmangos, which updated, and did a git pull on wotlk-db, which had NO updates.

When i

[2018-11-27 01:05] CabrasDaPeste commented on #1051
This issue is fixed and this can be safely closed now, @jimmybrancaccio.

[2018-11-27 01:18] adellaci commented on #1781
@jimmybrancaccio
The log hit 87247596 and i shut it down.
I'm going to change "LoadAllGridsOnMaps = "DO""  to "LoadAllGridsOnMaps = """ and see if i can come up a reasonably log.

[2018-11-27 01:18] #1051 closed

[2018-11-27 01:35] madmax765 commented on #1781
Same story here, the only difference I am running it on windows server 2016

[2018-11-27 01:45] adellaci commented on #1781
@madmax765
Haven't seen you in a while! I'm debating on starting the server from scratch, just in case. My log level 1 crashed upon completion of loading.

[2018-11-27 01:52] adellaci commented on #1781
@jimmybrancaccio

Here are all the logs at level one with out LoadAllGridsOnMaps = "DO"

I will run another with out "DO"

[DBErrors.log](https://github.com/cmangos/issues/files/2617972/DBErrors.log)
[EventAIErrors.log](https://github.com/cmangos/issues/files/2617973/EventAIErrors.log)
[Realmd_2018-11-26_20-30-29.log](https://github.com/cmangos/issues/files/2617975/Realmd_2018-11-26_20-30-29.log)

[2018-11-27 02:57] adellaci commented on #1781
@jimmybrancaccio
I am running without "DO" and it server is still up, but i have to it the hay. I will leave the server up to see if it crashes.

[2018-11-27 03:03] jimmybrancaccio commented on #1781
@adellaci Thank you very much for your follow ups. Looking forward to seeing what else you come up with.

[2018-11-27 11:56] jimmybrancaccio commented on #1781
@brianmask We'll likely need a stack trace of the crash. I recommend reviewing my notes in #1774 on how to get that going. Thanks!

[2018-11-27 11:59] jimmybrancaccio commented on #1782
@ChrisRadi Please provide the full details as requested in the issue template so this can be further triaged and reviewed.

[2018-11-27 12:00] jimmybrancaccio commented on #1784
@Zooke Please ensure to provide the commit hashes for the core and database when submitting issues. Thanks.

[2018-11-27 12:01] jimmybrancaccio commented on #1780
@Zooke Please ensure to provide both the commit hashes for the core and database when submitting an issue. Thanks.

[2018-11-27 12:09] jimmybrancaccio commented on #1546
I can also confirm this happens with cmangos/mangos-wotlk@0592a05

[code]

[2018-11-27 12:37] jimmybrancaccio commented on #1781
Alright, I'm getting more crashes now, seemingly unrelated to #1774. mangosd won't stay up for more then 15 minutes or so. I also have a crash log which is about 30MBs in size, but I trimmed it to this. If the full log is desired just let me know.

[mangosd-11272018.txt](https://github.com/cmangos/issues/files/2619916/mangosd-11272018.txt)

[2018-11-27 19:22] Zooke commented on #1780
Will do.

What is the difference between the reference loot template and the creature loot template ?

[2018-11-28 01:11] lduguid opened #1785 "Extractor and Bad Camera Files"
**Current behavior**:
 On startup classic mangosd.exe logs that there are Errors with camera files

2018-11-27 17:00:06
2018-11-27 17:00:06 Loading cinematic...
2018-11-27 17:00:06 ERROR:Camera file ./Cameras/PalantirOfAzora.m2 is damaged. File is smaller than header size
2018-11-27 17:00:06 ERROR:Camera file ./Cameras/FlybyUndead.m2 is damaged. File is smaller than header size
2018-11-27 17:00:06

[2018-11-28 09:06] cala commented on #1159
Closing this issue as trap activation radius was fixed earlier this year.

[2018-11-28 09:06] #1159 closed

[2018-11-28 12:51] Zooke commented on #1780
AnonXS,
Currently rare loots in this table have some 'corrected' values such as 75/25 and some values taken directly from websites at the time like 70.24/21.38.
How do you want to handle this data ? Do we round the numbers to add to 100 or use the data verbatim.
Maybe there was always a % chance that no unique loot would be dropped.

[2018-11-28 13:56] cala commented on #1698
Done in https://github.com/cmangos/classic-db/commit/6d6f88d65fcafdeba470446fb27f66603d32d8ac

[2018-11-28 13:56] #1698 closed

[2018-11-28 14:03] jimmybrancaccio commented on #1785
I don't seem to be able to replicate this. My file sizes are all above 0k. You may wish to try rerunning your extractors (I believe it's `ad` that does the camera file extraction - someone correct me if I'm wrong ).

[code]

[2018-11-28 14:16] cala commented on #1785
Correct. The `ad` binary does the camera files extraction, right after extracting the various DBC files.

[2018-11-28 14:35] AnonXS commented on #1780
Well i set chance for unique item to 85% due to your link and your rounding logic.
[code]

[2018-11-28 14:43] lduguid commented on #1785
Ran twice, same result. Windows, visual studio 2017 64bit release build of extractors. Everything else appears to extracted fine and more interesting one of the camera files appears good.

Not overly relevant to classic but as a side note, 64bit release build of tbc extractors worked fine extracting tbc client on my machine.

Perhaps my wow classic client has some corruption... I am not at that co

[2018-11-28 14:51] SilvioDoMine commented on #1714
@killerwife do you have an idea what may be causing this? Which part on the code should @LevelOneX and me look and give an attention.

[2018-11-28 15:36] Dramacydal commented on #1781
Looks like some insane recursion in movement generator XD

[2018-11-28 15:37] jimmybrancaccio commented on #1781
@Dramacydal Yeah, looks like it's looping a whole lot and eventually just running out of resources and crashing - at least that was my understanding from @Laizerox's comment yesterday in Discord.

[2018-11-28 15:55] killerwife commented on #1714
I do not, the first time I am hearing about this.

[2018-11-28 15:56] SilvioDoMine opened #1786 "Prayer of Mending Never Expires, Causing Infinite Strong Heals"
**Current behavior**:
After using Prayer of Mending while grouped, and recieve damage, the heal spread to another player and the stack is changed from 5 to 4. After the player with 4 stacks recieve damage, the heal will spread to another player, and the stack is changed from 4 to 5 again. And the heal only gets stronger, and stronger, and don't expires.

**Expected behavior**:
The stack should be

[2018-11-28 17:02] killerwife commented on #1786
Working on it.

[2018-11-28 17:58] killerwife commented on #1786
Fixed in https://github.com/cmangos/mangos-tbc/commit/d9656ff75df6b60a81891f8eb5b1e42bf59a55c8

[2018-11-28 17:58] #1786 closed

[2018-11-28 18:17] lduguid commented on #1785
I attempted twice with the Win x64 release extractors, once with original Wow client and again using a different Wow Client, same issue.  FlyByHuman.m2 is fine, other classic m2 fiels are 0 in size, which in turn produces the Error when referenced in the run.

However, as other do not seem to have this problem, my solution was to just grab the tbc (using only classic relevant ones) camera files wh

[2018-11-28 19:13] Zooke commented on #1780
On reflection, I have to admit that I am uncomfortable with rounding figures even though I believe it would overall be more accurate and blizzlike.
The historic drop rates used in this project have clearly been meticulously researched and collated, whether they are correct or not is debateable but I feel the weight of history bearing down on what I see as a fundamental change to the project.

[2018-11-28 19:47] AnonXS commented on #1785
:no_good_man: still needs to be resolved?

[2018-11-28 20:51] lduguid commented on #1785
It _may_ but for now I am putting it down to perhaps a local 'quirk', hence the closing of the issue.  Unless others also have it with the latest Classic extractors compiling on Windows Visual Studio 2017 x64 it is probably OK to close or someone else want to try it out.  I will try a release x86 build later to see if it is also an issue for me.

[2018-11-28 22:08] cala commented on #1785
I'm uneasy with this being closed as the issue seems to be repeatable, at least on your side. Thank you @lduguid for testing various configurations. We may need someone else to test this on a config similar to yours.

I'm reopening this. If no one else is having/reproducing the issue, we may assume this is some wrong config on your side.

(extracted on mac OS, I have slightly the same file sizes t

[2018-11-28 22:42] lduguid commented on #1785
Mystery solved. It can be closed as it is me.  I am bamboozled how i have sourced two different Wow clients that seem to have the same patch.MPQ, missing all but one of the Cameras m2 files. The WoW clients were definitely sourced from two different CD copies of the game but perhaps i patched both of them using the same patch downloads from the internet to get it from my CD copy to the 1.12.1x bui

[2018-11-28 22:42] #1785 closed

[2018-11-28 23:03] cala commented on #1785
![It's magic](https://media1.tenor.com/images/79a8babaaa65d030e4f23d4b77a08709/tenor.gif?itemid=9565411)

[2018-11-29 00:20] apo126 opened #1787 "Server Crashed Quite Easily"
Latest mangos-wotlk requires new dataz, so they were extrated. There are some errors in MaNGOSExtractor_detailed.log:

Processing Map 724
[################################################################]
Warning: Some models could not be extracted, see below
Could not find file of model World\Expansion02\Doodads\Generic\Vrykul\Weapons\Vr_Bm__Shield_01.m2
Could not find file of model World\Expansi

[2018-11-29 00:39] D3thw0lf opened #1788 "[TBC] Crash after using Spell "Rain of Fire" (5740)"
**Current behavior**:
It'll crash the server after finishing with the castbar (at least for me).

https://gfycat.com/TediousTerrificEnglishsetter

**Expected behavior**:
Cast until end without problems in any zone/on any map.

**Steps to reproduce**:

1. Create a level +10 Warlock (any faction, any race etc.), learn all needed talents from your Class Trainer
2. Go to Darkshire (or Duskwood), Storm

[2018-11-29 01:00] jimmybrancaccio commented on #1787
This is likely a duplicate of #1781. Please update us if otherwise, closing for now.

[2018-11-29 01:00] #1787 closed

[2018-11-29 01:58] Lankytim commented on #1788
I could reproduce this on my system, a different platform.

Client version:
2.4.3

Commit hash:
ef1236073fa67caf4831ca078d8f8ae9c3f1a489

Operating system:
Linux raspberrypi 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Linux

[2018-11-29 07:09] Muehe commented on #1781
[Backtrace](https://gist.github.com/Muehe/5254640aa9867e116c170d1a9c002159)

Repeating messages have been cut at ~ line 900.

[2018-11-29 17:09] lduguid opened #1789 "Fleeing Mobs Have Incorrect Dead Body Position Upon Dying"
**Current behavior**:

Feeling mobs dead body will 'drag' back to a position close to where the player is currently standing and/or where it started its flee position.

**Expected behavior**:

NPC dead body will lay to rest in the location where it died.

**Steps to reproduce**:

1.  Go to Trisfal Glades with low'ish level warlock
2.  Using the Scarlet Zealot NPC's around castle just outside of th

[2018-11-29 17:53] SilvioDoMine commented on #1788
This is related to the recent PoM recent fix. @killerwife take a look when you can. <3

[2018-11-29 17:53] berserkingyadis commented on #1788
I could reproduce too.

Commit hash: 58811e503f551ef3d0f92c41bc5e719a8b903d4e

Operating system:
Linux raspian 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux (raspberry pi YEET!)

[2018-11-29 18:01] D3thw0lf commented on #1788
ID is/was in the title but I'll put it into the text next time I have a similar issue with something related to ID's ^^' @berserkingyadis

[2018-11-29 18:03] killerwife commented on #1788
How can this be related to my code? I did nothing to any generic code.

[2018-11-29 18:21] killerwife commented on #1789
Resolved. https://github.com/cmangos/mangos-classic/commit/c2b758eb36a8fd9e4c5a4b41ccce89c28fc49a67

[2018-11-29 18:21] #1789 closed

[2018-11-29 19:16] jimmybrancaccio commented on #1781
This should be resolved now. 🎉  I've been running the latest commit for about an hour now without issue. Please give it a test and let us know!

[2018-11-29 21:00] berserkingyadis commented on #1788
It was my bad actually @D3thw0lf i didnt read the title fully.  Keep on keeping on

[2018-11-29 21:02] #1777 closed

[2018-11-29 21:39] cyberium commented on #1774
Should be fixed

[2018-11-29 21:39] cyberium commented on #1781
Yep its fixed

[2018-11-29 21:39] #1781 closed

[2018-11-29 21:40] cyberium commented on #1788
Should be fixed tomorrow by @killerwife

[2018-11-30 15:39] killerwife commented on #1788
Please verify that this is fixed.

[2018-11-30 15:50] D3thw0lf commented on #1788
I can confirm that it works now (for me) like a charm (as intended) ^^. Thanks for fixing this.

[2018-11-30 16:06] SilvioDoMine commented on #1747
I can confirm that this work as intended @KP580BM1. Would be nice to any db dev push this to tbc-db and wotlk-db.

[2018-12-01 12:35] AnonXS commented on #1747
Sadly thats not the root of the issue.

[2018-12-01 13:30] madmax765 opened #1790 "When Closing Out mangosd There is a transportsystem.cpp Error"
**Current behavior**:
When  closing cmangos I get this error
**Expected behavior**:
Should close with out error
**Steps to reproduce**:

1.  Run Cmangos
2.  Exit or ctrl+x
3.

**Client version**:
 WOTLK
**Commit hash**:
0aaed51e2067a6eb86f86de168c31bf3f700c3a3
**Database version**:
PSMDB Rev. 409
**Operating system**:
Windows server 2016 Standard
![image](https://user-images.githubusercontent.com/

[2018-12-01 13:33] berserkingyadis commented on #1790
Did you run with a fresh config file for mangosd?

[2018-12-01 13:37] madmax765 commented on #1790
Yes, And in the pic _D:\game cores\wow files_ is from where I compiled it at. from another pc Running windows 10 and running it on the server C:\AA\WOTLK

[2018-12-01 19:21] Rog360 opened #1791 "[WotLK] All inland water causes damage!"
**Current behavior**:
Enter water anywhere inland and you get damage like your in lava.

**Expected behavior**:
enter water and no damage.

**Steps to reproduce**:
1. .tele stormwind
2. go jump in lake
3. damage

I extracted maps twice and tried cyberium's maps also.
Still get damage.

**Client version**:
3.3.5
**Commit hash**:
0aaed51e2067a6eb86f86de168c31bf3f700c3a3

**Database version**:
PSDB

[2018-12-01 19:29] #1791 closed

[2018-12-01 19:30] killerwife commented on #1791
https://github.com/cmangos/mangos-wotlk/commit/d97d322de5b5cb8a96128cd77b620054948f7393

[2018-12-01 19:32] Rog360 commented on #1791
Thanks killerwife... :)

[2018-12-01 19:52] cala commented on #1791
Yes, global warming was introduced to Azeroth. We are *that* accurate when doing emulation.

[2018-12-01 22:30] berserkingyadis commented on #1615
Still happening.

![screenshot_4](https://user-images.githubusercontent.com/9959527/49333535-e471f680-f5c0-11e8-8ea8-a4973bbc8d4f.png)

core commit: 28bb409e106bedba124d6f87dbfacb68abfee406
tbc-db commit: f686443ee9f8404b8479ceefee2224ddf471a820
OS: win 10

[2018-12-01 22:34] berserkingyadis commented on #1630
Still happening.

core commit: 28bb409e106bedba124d6f87dbfacb68abfee406
tbc-db commit: f686443ee9f8404b8479ceefee2224ddf471a820
OS: win 10

[2018-12-01 22:35] killerwife commented on #1615
To be honest, this does seem like a clientside issue.

[2018-12-01 22:39] berserkingyadis commented on #1365
Still happening.

![screenshot_5](https://user-images.githubusercontent.com/9959527/49333629-64e52700-f5c2-11e8-97bb-4a6a8455a9a9.png)

core commit: 28bb409e106bedba124d6f87dbfacb68abfee406
tbc-db commit: f686443ee9f8404b8479ceefee2224ddf471a820
OS: win 10

[2018-12-01 23:40] MantisLord commented on #1365
Thank you for confirming.
https://github.com/cmangos/tbc-db/commit/c01366c1ee8a958333e628e3e85d5e681d34d8e6

[2018-12-02 07:08] ddzzhen commented on #1791
great,i have this problem too. Thanks a lot.

[2018-12-02 09:11] Tobschinski commented on #1791
I have lots of other problems, someone help me!

[2018-12-02 13:05] yatzi888 opened #1792 "[TBC]Mana Tide Totem Crashing Server"
**Current behavior**: Since updating the Core, using the mana tide spell totem instantly puts mangossd in a not responding state crashing the server.

**Expected behavior**: Should restore mana to the player

**Steps to reproduce**:
Method 1:
1. .learn 16190
2. use spell
3. F

Method 2:
1. .cast 16190 or .cast 16191

Totem id 10467 / mana tide effect is 39610

**Client version**: 2.4.3

**Commit h

[2018-12-02 14:30] killerwife commented on #1792
Working on it.

[2018-12-02 14:33] #1792 closed

[2018-12-02 16:52] jimmybrancaccio commented on #1790
I have attempted to replicate this on cmangos/mangos-wotlk@0aaed51 and cannot (using Ubuntu 14.04). I do recall seeing this before though.

[code]

[2018-12-02 20:15] Zooke opened #1793 "Mangos Classic Non-compatible map error"
**Current behavior**:
Crashes on startup

Todays commits appear to have broken something

2018-12-02 18:53:12 CMaNGOS Classic/0.18 (2018-10-18T18:29:51+02:00 - 259570df883c0b8774d0db1ee88d875fe9a5d6ab) for Win64 (little-endian) [world-daemon]
2018-12-02 18:53:12 <Ctrl-C> to stop.
2018-12-02 18:53:12

       _____     __  __       _   _  _____  ____   _____
      / ____|   |  \/  |     | \ | |/ ___

[2018-12-02 20:29] killerwife commented on #1793
This wasn't todays commits, this was previous batch of commits last week. A new set of maps needs to be generated.

[2018-12-02 20:31] cala commented on #1793
More here: https://github.com/cmangos/mangos-classic/commit/5afd6a6fd04eec9b61e1bd604b2ef0d910f0b7c2

[2018-12-02 20:31] #1793 closed

[2018-12-02 22:00] #1655 closed

[2018-12-03 02:05] ekg98 commented on #1790
![transportbasecrash](https://user-images.githubusercontent.com/24751528/49348838-cd411080-f675-11e8-883f-c83886d6a8b5.JPG)

encountered by typing server shutdown 0
ubuntu server 16.04

[2018-12-03 13:22] adellaci opened #1794 "Quest - Elixirs for the Bladeleafs"
**Current behavior**: Acquired items (Elixir of Lion's Strength, item_template, entry 2454) (Elixir of Minor Defense, item_template, entry 5997) for the Quest (quest=1581), the quest log says it's complete, but the question mark above Syral Bladeleaf (creature_template, entry 2083) remains white, and she will not accept the items

**Expected behavior**: Upon acquiring 6 Elixir of Lion's Strength &

[2018-12-03 13:32] adellaci commented on #1794
If i create them next to her it allows me to complete the quest....don't know if this is how it is intended. If this is correct then this can be closed

[2018-12-03 19:52] adellaci commented on #1775
@killerwife
I researched it out for the Night Elf.
The quest starts in Shadowglen at the Hunter Trainer, 'The Hunter's Path' quest=6071. Which send you the Dolanaar to see the Hunter Trainer there, who give you 'Taming the Beast' quest=6063.
Upon completion you get quest 'Taming the Beast' quest=6101,
Upon completion you get quest 'Taming the Beast' quest=6102.
Upon completion you get 'Training th

[2018-12-03 20:20] AnonXS commented on #1775
![unbenannt](https://user-images.githubusercontent.com/19734826/49399222-02fefb80-f741-11e8-836e-fa9bd6aa7f55.PNG)

![unbenannt](https://user-images.githubusercontent.com/19734826/49399202-f1b5ef00-f740-11e8-90dd-e55fd9434284.PNG)

![unbenannt](https://user-images.githubusercontent.com/19734826/49399280-2c1f8c00-f741-11e8-832d-48ed9d5a541c.PNG)

Looks fine to me, as the spells are learned by spell

[2018-12-03 20:51] adellaci commented on #1775
It looks fine but if you do the quest line you do not receive spells 928 & 6991. I also went out and tamed an animal just to see if it is then that you get the spells, still no spells.

Just finished the Dwarf Hunter line, same result

[2018-12-03 21:08] AnonXS commented on #1775
I guess it is "spell targeting" related, so the questgiver is just not able to successfully perform the spell that learns these spells on the player on successull quest turn in.

[2018-12-03 22:09] killerwife commented on #1775
Quest ID? The final one that should give it, but doesn't give it.

[2018-12-03 22:10] AnonXS commented on #1775
6102 and 6103 both grant spells due to questgiver casting a spell on player.

[2018-12-04 01:05] jimmybrancaccio commented on #1790
Just got the error myself:

[code]

I just updated to cmangos/mangos-wotlk@28de995 so I will see if happens there as well.

[2018-12-04 01:36] jimmybrancaccio commented on #1782
@ChrisRadi Thanks, can you also provide the database commit hash? You can go into your database directory and use `git rev-parse HEAD`. Thanks!

[2018-12-04 02:32] yatzi888 opened #1795 "SSC_LadyVashj Fight - ENCHANTED_ELEMENTAL= 21958 Is To Slow"
**Current behavior**:  Elementals that spawn during the boss fight  [21958 - Enchanted Elemental] are to quick when running to the boss (with the intent to buff her) Explode timers seem correct for when they explode (buffing the boss),.

**Expected behavior**:  Elementals are meant to move slower, exploding as soon as they reach the boss, rather than move rapidly up to the boss and explode 5 secon

[2018-12-04 03:43] ekg98 commented on #1762
I believe filtering is a issue on some items too.  I have a stock ahbot conf file governing it all except for quantities.  I have boosted them by a order of magnitude.  I have a total of 93,000 items while typing ahbot status.  I was looking for cloth.  Silk cloth.  Only two pages of cloth added in 93,000 items and they are all higher level cloth.  Mageweave  Runecloth etc...  No linen. Wool or Si

[2018-12-04 09:29] AnonXS commented on #1795
here is where it should be fixed: https://github.com/cmangos/mangos-tbc/blob/master/src/game/AI/ScriptDevAI/scripts/outland/coilfang_reservoir/serpent_shrine/boss_lady_vashj.cpp#L213
hint: run/walk

[2018-12-04 10:54] ChrisRadi commented on #1782
Updated

[2018-12-04 10:58] jimmybrancaccio commented on #1762
@ekg98 Please create a new issue with full details so it can be further investigated. Thanks.

[2018-12-04 10:59] #1794 closed

[2018-12-04 11:18] Grz3s commented on #373
fixed long time ago ;)

[2018-12-04 11:18] #373 closed

[2018-12-04 11:22] yatzi888 commented on #1762
Can we get this fix applied to the TBC core please :)

[2018-12-04 13:01] adellaci commented on #1775
@killerwife , @AnonXS

AnonXS, i should have payed more attention to what you was saying, I understand better now. Quest giver has to cast spell 5300 in order to give you spells 982 & 6991. I don't understand the relationships between the tables very much, but with each problem i am researching a learning.

So the real point. Spell 5300 has 0 in field 'Targets', and i believe it should be 256. If

[2018-12-04 13:02] adellaci commented on #1775
I have tested it on Night Elf Hunter and it works for them

[2018-12-04 15:39] adellaci commented on #1775
@killerwife

Then changing field 'Tartgets' in spell_template(5300) to 256 will correct it for all races

[2018-12-04 16:03] killerwife commented on #1775
I'm afraid thats not the correct solution here. Need to figure out why it works for them and not the other.

[2018-12-04 16:06] adellaci commented on #1775
Okay I've made this change to the Database "UPDATE `spell_template` SET `Targets`=256 WHERE `Id`=5300 ". I'll go back and verify that is works for all races now.

[2018-12-04 17:50] adellaci commented on #1775
I've tested the following and they now work.
Nigh Elf Hunter
Dwarf Hunter
Draenei Hunter

Have to got test Horde side

[2018-12-04 18:55] adellaci commented on #1775
@killerwife

I've tested the following and now they work.
Orc Hunter
Tauren Hunter
Troll Hunter
That should be all of them.

It appears that because the 'Targets' was set to 0 those spells were not being casted upon the player.
This should go to 'wotlk-db' and a check on Burning Crusades & Classic.

[2018-12-05 07:47] Dramacydal commented on #1775
@adellaci changing spell template is hack. The core issues should be fixed.

[2018-12-05 13:06] adellaci commented on #1775
@Dramacydal @killerwife @AnonXS
If you look a the previous quest for all the races, the quest giver upon completion casts 1579 which gives you Tame Beast, Call Pet, & Dismiss Pet. that entry has 256 in the 'Targets' field. So if the change will need to be made on the other spell too.

This example is from the Night Elf Hunter.
[hunter_quest_template.txt](https://github.com/cmangos/issues/files/264

[2018-12-05 13:08] killerwife commented on #1775
@Dramacydal is right. This is meant to work without Targets field alteration. There are 48 spells like this in WOTLK, in TBC there are just 10, so I think blizzard did a change here in the background.

I am gonna look at how this works.

[2018-12-05 13:22] adellaci commented on #1775
@killerwife
That what is the intent on the 'Targets' field. The only information I find in the Database fields description is

Determines the default targets for some effects. Seems to be connected to TARGET_NONE.<

[2018-12-05 13:35] adellaci commented on #1775
Thank you for taking the time to explain

[2018-12-05 13:39] killerwife commented on #1775
The bug is here:
`Unit* Spell::GetUnitTarget(SpellEffectIndex effIdx)
{
    Unit* target = m_targets.getUnitTarget();
    if (effIdx != EFFECT_INDEX_0 && !IsUnitTargetTarget(m_spellInfo->EffectImplicitTargetA[EFFECT_INDEX_0])) // eff index 0 always need to supply correct target or from client
        target = m_caster->GetTarget();

    return target;
}`

[2018-12-05 13:46] #1775 closed

[2018-12-05 14:30] adellaci commented on #1775
@killerwife
Updated and tested, works correctly now. Thank you.

[2018-12-05 16:38] #1365 closed

[2018-12-06 12:46] ddzzhen opened #1796 "The itemID 54811 and spellID 75614 are not working as expected"
**Current behavior**: the item can`t use , it is a Mounts with the itemID  "54811" and spellID "75614", the only one depends on the area and skillrank.
i find the other spellIDs about the 星骓 include the "75617","75618","75619","75620" in the spell.dbc, and "76153" also is about "星骓".

but  spell(75614) can`t use from the item(54811) and spellid("75617","75618","75619","75620","76153") is ok.
**Exp

[2018-12-06 20:00] jimmybrancaccio commented on #1796
@ddzzhen Please provide your core commit hash and database commit hashes.

[2018-12-07 00:16] ddzzhen commented on #1796
sorry for that. i found how to find the hashes actually now.

mongos-woltk hash:d97d322de5b5cb8a96128cd77b620054948f7393
wotlk-db hash:fca7acd9000fced979098734ac8de333e74c0c8f

[2018-12-07 16:10] #640 closed

[2018-12-07 16:38] AnonXS commented on #1795
resolved here https://github.com/cmangos/mangos-tbc/commit/e328b3b4d36175e7919f3eabb396bf841f5d6868#diff-c1fe26f6338e975164c671a1f02e366dR561

[2018-12-07 16:38] #1795 closed

[2018-12-09 10:41] ekg98 commented on #1790
I still get it as of right now...

[2018-12-09 18:57] ekg98 opened #1797 "AHBot is Missing Lower Level Cloth Items"
I am running almost default ahbot config except for item levels adjusted.  I have increased everything a order of magnitude.  I have 93,000 items in my auction house.  I found that there is no silk, wool, or linen in the ah.  I only have two pages of cloth in the whole 93,000 items  I have to include the item number in the force include to make it appear at all.  I assume this is a filter issue.

[2018-12-10 00:28] lduguid opened #1798 "Some Bleeding Hollow Tormentor (dismounted ones) should use Fear s.33924 as RP"
**Current behavior**:
Bleeding hollow tormentor located at rethgor in hellfire peninsula will always fear his own summoned pet worg and/or another bleeding hollow tormentors pet.

**Expected Behaviour**:

Fear player at least most of the time

**Steps to reproduce**:

1. Engage combat with bleeding hollow tormentor
2. Combat until he casts fear (do not kill his pet worg)
3.

**Client version**:
2.

[2018-12-10 04:52] Lankytim opened #1799 "Error Initializing TBC mangos Database"
**Current behavior**:
When starting with a fresh server and database, I encounter the following error:
[code]
https://github.com/cmangos/mangos-tbc/blob/900051fb74749aa01cba95d04c4a5ef9dc05fbb3/sql/base/mangos.sql#L1355

**Expected behavior**:
mangos.sql should apply into fresh DB with no errors.

**Steps to reproduce**:

1. Following [Installation Instructions](https://github.com/cmangos/issues/w

[2018-12-10 06:58] Lankytim opened #1800 "Cannot Flee From World Creatures"
**Current behavior**:
Creatures continue chasing the player while they try to flee combat.  Using a new human player, I hit a wolf in the starting area, turned and ran, and he followed me all the way to Goldshire before I stopped running and killed it.  I have tried this on other creatures in other maps at higher levels too.

**Expected behavior**:
Creature should give up after a while, then retur

[2018-12-10 07:46] Lankytim commented on #1800
Reproduced by MadMax765:

[5:23 PM] MadMax765: ok booting TBC  with core 900051fb74749aa01cba95d04c4a5ef9dc05fbb3 and Snapshot v1.7.2906 DB
[5:34 PM] MadMax765: lol yap your right
[5:34 PM] MadMax765: bore was chasing to next town lol
[5:41 PM] MadMax765: Commits on Dec 2, 2018 04af2a42d92bdc08c8a5c57ee83ef5322c929bac was ok.... so it happen from there to  Commits on Dec 9, 2018 900051fb74749aa01c

[2018-12-10 08:05] Lankytim commented on #1800
Issue observed on:

Young Wolf - entry: 299, guid: 79937
Raging Owlbeast - entry: 7451, guid: 41375
Scorpid Stinger - entry: 5988, guid: 2645

[2018-12-10 11:02] AnonXS commented on #1798
It seems friendly units are also placed in the Bleeding Hollow Tormentor threatlist.

('1942402','19424','0','0','100','1','9000','16000','12000','18000','0','0','11','33924','2','0','0','0','0','0','0','0','0','0','Bleeding Hollow Tormentor - Cast Fear'), -> Fear on Second in Aggrolist

[2018-12-10 14:48] lduguid commented on #1798
From very hazy memory, I thought I remembered it being a possibility in retail that he could fear his own worg, however, on killing many of them using my own hunter and pet, not once were I or my pet feared, always a friendly (to the npc) worg.

If this is datamined behavior I do not doubt that it is a correct setting in the database but could there be something else going on where regardless of a

[2018-12-10 16:14] joao-fidalgo opened #1801 "Importing mangos.sql fails due to duplicated faction column"
`ERROR 1136 (21S01) at line 1355: Column count doesn't match value count at row 1`

**Current behavior**: Cannot import mangos.sql into database due to duplicated faction column.

**Expected behavior**: I should be able to import the script.

**Steps to reproduce**:

1. mysql -umangos -pmangos tbcmangos < mangos-tbc/sql/base/mangos.sql

**Client version**: 2.4.3

**Commit hash**: 900051fb74749aa01

[2018-12-10 16:15] joao-fidalgo commented on #1801
I already have the fix ready for this, just dealing with GPG sign failing due to email privacy issues.

[2018-12-10 16:15] AnonXS commented on #1801
duplicate https://github.com/cmangos/issues/issues/1799

[2018-12-10 16:15] #1801 closed

[2018-12-10 19:57] jimmybrancaccio commented on #1797
@ekg98 Can you clarify what you mean by 'configure AH bot'? How are you configuring it, can you provide your configuration where you expect there to be these items?

[2018-12-10 20:06] ekg98 commented on #1797
[ahbot.conf.txt](https://github.com/cmangos/issues/files/2664761/ahbot.conf.txt)

This is default except for quantities.

[2018-12-10 20:07] jimmybrancaccio commented on #1797
@ekg98 So it is my understanding that you expect that those items show up when using a default configuration file?

We'll have to investigate to see if that's the intended behavior or not.

[2018-12-10 20:07] killerwife commented on #1800
Will definitely get a look. I think I know the issue, but I have a busy week.

[2018-12-10 20:30] ekg98 commented on #1797
Indeed the tradegoods is set to priority 10 and the filter values are set both to 0 to allow all trade goods.  White is a large value.  This in default behavior spawns some cloths but they are only high level.  It doesnt seem to spawn any cloth below level 30 or maybe 40 or so.

[2018-12-11 00:42] lduguid commented on #1798
Some followup:

Firstly I should clarify I was using a hunter with a pet out so there is always a second target for the NPC.

I tired to dig deeper on this by setting a breakpoint in;

`CreatureEventAI::GetTargetByType` in `CreatureEventAI.cpp` and stepping from there, I must admit that I quickly got out of my depth in trying to figure out why the creature **19424** would cast **33924** on its own

[2018-12-11 07:07] MantisLord commented on #1764
Should be fixed as of:
https://github.com/cmangos/mangos-tbc/commit/26f20ede207d05f559ce8cd11278d788df5d74f0
Needs confirmation

[2018-12-11 07:14] MantisLord commented on #1758
Addressed here:
https://github.com/cmangos/mangos-tbc/commit/c1424618db9f259a7c9c024ff85c8842cb5855e0

[2018-12-11 07:40] MantisLord commented on #1459
Original link in this issue is now broken.
I think mostly everything @brotalnia mentioned here now has been added.

Please open new issue for any more missing texts.

[2018-12-11 07:40] #1459 closed

[2018-12-11 08:11] #1758 closed

[2018-12-11 09:06] AnonXS commented on #1798
I guess we are using the spell wrong as it has:
[code]

[2018-12-11 12:18] dvdvideo1234 opened #1802 "ERROR 1396 (HY000) at line 7: Operation CREATE USER failed for 'mangos'@'localhost'"
**Current behavior**:
`ERROR 1136 (21S01) at [line 1355](https://github.com/cmangos/mangos-tbc/blob/900051fb74749aa01cba95d04c4a5ef9dc05fbb3/sql/base/mangos.sql#L1355): Column count doesn't match value count at row 1`
**Expected behavior**:
The query to be executed correctly
**Steps to reproduce**:
1. Install [latest TBC source](https://github.com/cmangos/mangos-tbc)
2. Execute the SQL file from t

[2018-12-11 12:39] AnonXS commented on #1802
duplicate https://github.com/cmangos/issues/issues/1799

remove `35,` factionalliance and factionhorde was merged into faction

[2018-12-11 12:39] #1802 closed

[2018-12-11 15:48] Zooke commented on #1780
Fixed in https://github.com/cmangos/classic-db/commit/34a04d26807fa4b6ca7b69063b6a75d19b207c00

[2018-12-11 15:49] jimmybrancaccio commented on #1780
Awesome, thanks for the update @Zooke Closing this one out as fixed!

[2018-12-11 15:49] #1780 closed

[2018-12-11 19:44] lduguid commented on #1798
Where did you get that nice summary of spell info. about **33924** ? I might be blind but i could not correlate what you posted with what was available in the gazillion columns of info about it spell_template.

[2018-12-11 19:46] AnonXS commented on #1798
https://github.com/sidsukana/QSpellWork/releases

[2018-12-11 19:55] lduguid commented on #1798
Nice! Thank you for the link.

[2018-12-11 21:23] MantisLord commented on #1092
In current DB Attumen the Huntsman has Faction 16 and Midnight has Faction 7 which also matches WotLK-DB. Closing.

[2018-12-11 21:23] #1092 closed

[2018-12-11 22:45] cala commented on #1780
Oups, forgot to close it by myself when merging @Zooke's PR. Sorry.

[2018-12-12 16:57] Rog360 opened #1803 "[WotLK] Fix SD2 text for Four Horsemen"
**Current behavior**:
Says "youself"
(-1533044,'Defend youself!',8892,1,0,0,'blaumeux SAY_BLAU_AGGRO'),

**Expected behavior**:
Should be "yourself"
(-1533044,'Defend yourself!',8892,1,0,0,'blaumeux SAY_BLAU_AGGRO'),

**Client version**:
3.3.5

**Commit hash**:
68f669bae1f5a4f5f28c98eacd84bf1ced0ccc3a

**Database version**:
PSDB

**Operating system**:
Windows 7 x64

[2018-12-12 17:05] Rog360 commented on #1790
I posted an issue report on this error and it was closed. Glad to see I'm not the only one getting this error.
https://github.com/cmangos/issues/issues/1514

[2018-12-12 17:33] cala commented on #1803
Seems that I missed this one on my previous check.

[2018-12-12 18:46] Rog360 commented on #1803
I added a note on the commit you did. Just figured I'd post it here. so, it wasn't forgotten... :)

[2018-12-12 19:11] ekg98 opened #1804 "Bags dropped after upgrade to 32 slots"
**Current behavior**: Bags are dropped after this commit and all items are moved to mailbox
https://github.com/cmangos/mangos-classic/commit/ac9a3bd7dab183f1f3fae6d16f4baa3a2993fc00?diff=unified

**Expected behavior**: Bags retained from previous commit

**Steps to reproduce**:

1. Upgrade from older mangos version than commit
2. run mangos

**Client version**: Classic

**Commit hash**: ac9a3bd
ht

[2018-12-12 19:12] D3thw0lf opened #1805 "".gobject near" crashes the Server"
**Current behavior**:
Crashes the Server if the given distance is higher than 1 and is not outputting a List with Gameobjects near the Character.

**Expected behavior**:
Should output a List with guids (Gameobjects) near the player in a given distance (default = 10)

**Steps to reproduce**:

1. Login
2. Be a GM Rank 2 or higher
3. Use .gobject near (optional with 1-10 ex. .gobject near 1)

**Clien

[2018-12-12 21:12] #1803 closed

[2018-12-12 21:54] jimmybrancaccio commented on #1790
I don't believe any commits have been made since the issue was reported to address this issue so it would be expected behavior that this still happens (unfortunately).

[2018-12-12 22:05] datchannin opened #1806 "[TBC] Druid talent learning adds point instead subtracks"
**Current behavior**:
If you try to learn Primal Fury talent, first level will add you talent point, so you will have 63 points at the end instead of 61.

**Expected behavior**:
It should subtrack point and maximum points should be 61.

**Steps to reproduce**:

1. Create Druid
2. .level +69
3. add 5 points to Feral Agression
4. add 5 points to Ferocity
5. add 3 points to Sharpened Claws and 2 to F

[2018-12-12 22:18] datchannin opened #1807 "Putting on a Trinket Will Add Additional Cooldown Time to Spells"
**Current behavior**:
If you put off trinket and then put on it - you will have addition CD to spell on it. Even if your CD have already finished.
For example:
you have PVP trinket with spell=42292 (5 min CD) that already was refreshed 5 min CD.
if you put on Trinket to character you will have 30 sec CD. But after it finish, you will not able to USE spell on trinket for addition 4.30 min.

And for

[2018-12-13 00:30] ekg98 commented on #1790
I just had a interesting bug occur with classic.  it reflects about the table command has command red message above.  The console just slammed into full crazy mode.  Anything typed into the console is always followed by newline.  Its like something in the console is forcing it to append a newline to stdin.

I alt + f key to a different tty.  Keyboard is fine.  strange...

[2018-12-13 00:31] jimmybrancaccio commented on #1790
@ekg98 This does not appear to be related to this issue with the TransportSystem.cpp error. Please ensure that each unique problem has its own issue in GitHub.

[2018-12-13 14:52] SilvioDoMine commented on #1806
This also cause talent reset when relogging

[2018-12-14 07:51] datchannin commented on #1806
Yes, talent will be reset if you spend all 63 points. May be because player should not have move than 61 talent points.

[2018-12-14 08:03] datchannin commented on #1806
I thought, that there are fields in spell_template or may be separate table for core to understand if this spell is talent and how many points it should cost. But I did't find such information. So don't know what part is responsible for talents/spell and points spending.

[2018-12-14 11:50] #1800 closed

[2018-12-14 11:50] #1806 closed

[2018-12-14 15:23] cala opened #1808 "Dummy Auras are not reapplied if stacking with themselves"
**Current behavior**:

Four Horsemen encounter uses a mechanics where a stacking dummy aura is applied to players. Every time the aura is applied, players should take damages based on the amount of stacks. The relevant code lives in `void Aura::HandleAuraDummy(bool apply, bool Real)`. (see https://github.com/cmangos/mangos-classic/commit/7051c539fa1533d2bf92d744c539165f192053e2)

However, this cod

[2018-12-14 18:21] killerwife commented on #1808
Actually, I am not the man. @Warlockbugs

[2018-12-14 18:40] killerwife commented on #1808
@cala My proposed change:
void SpellAuraHolder::SetStackAmount(uint32 stackAmount, Unit* newCaster)

[code]

[2018-12-14 18:41] killerwife commented on #1808
The dummy has 0 in base amount and amount. There are 29 such spells in tbc.
select Id,SpellName from spell_template where StackAmount>0 AND Effect1 = 6 AND EffectBasePoints1=0 AND EffectRealPointsPerLevel1=0 AND EffectBaseDice1=0 AND EffectBasePoints1=0;

[2018-12-14 23:12] cala commented on #1808
Well spotted, I did not investigate the logic in the (base) amount values! Your fix works like a charm. 👍

There are 8 spells in Classic that match the query above. Four of them are the Four Horsemen mark spells, three more are related to an AQ20 mechanics that should also gain from this fix. There is only one spell 27673 (Five Fat Finger Exploding Heart Technique) that I don't know of. The spell

[2018-12-14 23:17] killerwife commented on #1808
Five Fat Finger Exploding Heart Technique is from BRD https://www.wowhead.com/npc=16049/lefty and its a kill bill reference.

[2018-12-14 23:21] cala commented on #1808
Thanks. One more Classic NPC I don't know of (even though I did BRD numerous times for librams or forging MC gear).

From what I understand from the description of the NPC, this spell should have the same mechanics than Horsemen marks, so I think we can push your fix if you have no objection.

[2018-12-14 23:39] #1808 closed

[2018-12-14 23:48] cala commented on #1804
Confirmed.

[2018-12-15 14:10] cala commented on #1804
To be more accurate : on first character login after https://github.com/cmangos/mangos-classic/commit/ac9a3bd7dab183f1f3fae6d16f4baa3a2993fc00, all bags are destroyed (except the main back pack). Thus, all(?) items previously contained in these bags are sent to the character by mail.

This only occurs to bags equipped before https://github.com/cmangos/mangos-classic/commit/ac9a3bd7dab183f1f3fae6d1

[2018-12-15 14:19] cala commented on #1513
On latest revision https://github.com/cmangos/mangos-classic/commit/8f0b95836ea2e7825b75c1444a5c0906bd351b05 this is partly fixed:
- Consume Shadows no longer puts players in combat
- however, casting Consume Shadows when a neutral or hostile NPC is targeted still makes the voidwalker move towards this target and attack it once Consume Shadows channel is over.

[2018-12-15 14:34] killerwife commented on #1804
There are checks on item load, and container load, which I do not remember where they are, somewhere in Player::LoadFromDB. It needs to be debugged to see which condition fails.

[2018-12-17 17:30] lduguid opened #1809 "Incorrect Wand Damage Type Reported in Combat Log"
**Current behavior**:
Using ranged weapon (wand) for damage, the combat log will report inappropriate magic school types, neither of which is the type used by the wand.

Greater Magic Wand (arcane damage) -
![image](https://user-images.githubusercontent.com/105060/50103963-c1109380-01dd-11e9-93ad-8bf4910aa104.png)

Wand of Decay (shadow damage) -
![image](https://user-images.githubusercontent.com/

[2018-12-17 17:42] #1799 closed

[2018-12-18 13:07] Phatcat commented on #1679
To further prove my point here are 3 screenshots of different pets, 2 complete different species of pets all in level 60 with the same exact base stats; http://web.archive.org/web/20061201234625/http://tkasomething.com:80/attackspeeds.php

You may notice the last pet, the wolf, has more armor, but both the cats have a higher dps, which, is their racial modifiers shown as shown in my previous comme

[2018-12-18 13:36] adellaci commented on #1809
I will check on wrath of the lich King tonight

[2018-12-18 19:06] Rog360 commented on #1635
Ok, Seems some more may have been fixed after https://github.com/cmangos/mangos-wotlk/commit/02b6f3cc731471512cd48f91f395304c69818313

I'll post back after I check a few more.... :)

[2018-12-18 20:15] lduguid commented on #1809
@Warlockbugs @killerwife  - you guys are probably the most knowledage concerning this but please ignore if it better directed at someone else.

I finally got a chance to take closer look at this, the problem seems to go astray in Unit.cpp;

[code]

The value of **schoolMask** after the calling `GetSpellSchoolMask(spell); `is **SPELL_SCHOOL_MASK_NORMAL (1)**, however after that there is the check f

[2018-12-19 01:44] adellaci commented on #1809
Same in Wrath of the Lich King.

Greater Magic Wand (HolyFire damage)
Wand of Decay (Flamestrile damage)

[2018-12-19 13:05] jimmybrancaccio commented on #1807
Hello @datchannin Please provide the actual commit hashes. Saying 'latest' does not help unfortunately. Thanks!

[2018-12-19 13:18] killerwife commented on #1809
WB will look at it, but he is currently away for 5 days.

[2018-12-19 13:52] datchannin commented on #1807
Hi @jimmybrancaccio ,

It was latest by 13 December.
So I believe it was:
commit 91bcbfeb558141e30481899cc030d5d3747ffb3b - for core
and commit 7acaa3054854b480b48df3baadb068eb3e099309 - for database

[2018-12-19 17:15] #1635 closed

[2018-12-20 10:00] yatzi888 opened #1810 "[TBC] The Eye - 19514/Alar not entering Phase 2"
**Current behavior**: Phase 1 involves killing Alar whilst he switches platforms, including the adds he spawns whenever he does the switch. Right now killing Alar in phase 1 seems to end the fight, giving the players the boss loot.

**Expected behavior**: Alar is meant to die as part of Phase 1 but instead of the fight ending and loot being made available. Alar is meant to re-spawn in the middle o

[2018-12-20 10:01] killerwife commented on #1810
Did you do .die by any chance?

[2018-12-20 10:08] yatzi888 commented on #1810
@killerwife Unfortunately I tried everything to make sure it wasn't me missing the script triggers. I tried slowly taking him down with .damage and also using a boss spell which deals around the same damage as a normal group. I have changed the mobs health multiplayer to reduce the it's overall hp. Could this be having an effect?

[2018-12-20 10:09] killerwife commented on #1810
Try doing ".die 1". Thats how I test him.

[2018-12-20 10:11] yatzi888 commented on #1810
I'll give it ago when I'm back from work! Thanks (The rest of the raid runs like a dream :D big props)

[2018-12-21 17:54] yatzi888 commented on #1810
@killerwife Ye .die 1 worked. This can be closed, I guess I was being impatient with my dmg output on him, must of messed with the script! Sorry!

[2018-12-21 18:07] #1810 closed

[2018-12-22 21:32] RichardGe2 opened #1811 "PX-238 Winter Wondervolt Broken"
During Winter event, when we enter inside PX-238 machine, we are supposed to be changed into a gnome.
This was working before, it's not working for this Winter event.

After debugging, I'm seeing 3 issues :
- If I undestand correctly, for traps game object "PX-238 Winter Wondervolt TRAP" (object=180797), we need to specify triggerOn=2(all) , currently in database, it's 0(unfriendly) ( database fie

[2018-12-25 00:12] yatzi888 opened #1812 "The Eye - 19514/Alar - 0% HP Immune beginning of phase 2"
**Current behavior**: Majority of the time when Alar goes into phase 2 (after killing him) he re-appears with 0% HP and is in an immune state.

**Expected behavior**: Boss should regen back to full HP and not be immune.

Video showing the result - https://youtu.be/RnR_Wd66Akg

Apologies if this is another case of me testing in a dodgy manner.

**Steps to reproduce**:

1. Take boss to 0% in first p

[2018-12-25 00:55] Lankytim opened #1813 "Typo - Winter's Presents Quest"
**Current behavior**:
Wonderform Operator (NPC entry 15732, spawned by event 2 (Feast of Winter Veil - Main Event)) has a quest offer gossip for "Winter's Presents" that reads:

**Expected behavior**:
"Smokeywood" is spelled "Smokywood" elsewhere throughout the game (I understand Smokywood is the correct way).

**Steps to reproduce**:

1. go to NPC 15732 during the Feast of Winter Veil event
2. re

[2018-12-28 09:49] yuanf225 opened #1814 "Shadow of Akama in the Dark Temple Cannot Be Killed Properly"
Current behavior: akama NPCS cannot talk, akama shadow cannot attack
Expected behavior: akama NPCS talk normally, then akama's shadow walks up to akama and triggers the attack

Client version: 2.4.3 Client

Core Hash:

2d420a4c40ab47d5679959b0f1eba4a30f34b152

Database Hash:

1ad105e926393dd3bd2c632ee4ca4e6932028dcf

Database version: mariadb10.3.10
Operating system: Windows 10

[2018-12-28 15:37] splinecl opened #1815 "Wrong Models for Winter Revelers"
**Current behavior**:
Models for Winter Revelers spawned by Winter Veil event are wrong.
 Looking at the two models standing under the mistletoe in near Innkeeper Allison in The Gilded Rose in Stomwind, the male model is all black with no textures, and the female model is not dressed in the expected christmas elf clothes.

**Expected behavior**:
The models should be a male and female model dressed

[2018-12-28 15:39] splinecl commented on #1815
![image](https://user-images.githubusercontent.com/2018961/50520179-25c1cd00-0abf-11e9-8f79-24d2ff6a4cd1.png)

[2018-12-28 16:06] splinecl commented on #1815
Screenshot of expected behavior:

![image](https://user-images.githubusercontent.com/2018961/50520846-dbdae600-0ac2-11e9-9fa9-76eb770c02c6.png)

[2018-12-29 12:01] splinecl opened #1816 "gameobjects That Should Be Pooled"
**Current behavior**:
There are a bunch of "Water Barrel" and "Food Crate" that are spawning on top of each other.

**Expected behavior**:
The objects should be in an object pool instead, so that they will spawn correctly, one at a time.

**Steps to reproduce**:

Query to find these objects:

3658="Water Barrel"
3719="Food Crate"

**Client version**:
1.12.1

**Commit hash**:
mangos-classic 08eb6b6

[2018-12-30 10:49] Warlockbugs commented on #1809
Fixed in:
https://github.com/cmangos/mangos-classic/commit/41624da4155b51d241d89a9a1c638f8606ebb8bf
https://github.com/cmangos/mangos-tbc/commit/08a530db10b0b734d84ca8d8ec720d096a000145
https://github.com/cmangos/mangos-wotlk/commit/2ae0f4b4fb7ac66ebc76c0702c0e76622dd2acbe

[2018-12-30 10:49] #1809 closed

[2018-12-30 13:38] Alexej21 opened #1817 "Shaman Totems - Don't Ignore Hunter Traps"
**Current behavior**:
it's same as on mangosone
https://www.getmangos.eu/bug-tracker/mangos-one/shaman-totems-r1435/
**Expected behavior**:
Shaman Totems will ignoring Hunter Traps

[2018-12-31 08:27] iraj0711 opened #1818 "anticheate"
hi.anticheate for mangos tbc?

[2018-12-31 09:19] Rapth opened #1819 "Load map error"
**Current behavior**:
load map error
**Expected behavior**:
with no errors
**Steps to reproduce**:

1. extract maps with latest map extractors
2. create a 70lv character and teleport it to any instance of Outland
3. Server shows ERROR:Error load map file :XXX

**Client version**:
BUILD 8606
**Commit hash**:
latest
**Database version**:
latest
**Operating system**:
WIN10 64bit
[Server.log](https://

[2018-12-31 12:55] Grz3s commented on #1819
nothing serious .. DB isssue....
- 2018-12-31 17:10:28 ERROR:Error load map file: ./maps/5473132.map
- 2018-12-31 17:10:32 ERROR:Error load map file: ./maps/5473232.map

**2 creatures are spawned somewhere outside visible map ... "Coilfang: The Slave Pens"**

- 2018-12-31 17:11:13 ERROR:Error load map file: ./maps/5403232.map
- 2018-12-31 17:11:13 ERROR:Error load map file: ./maps/5403231.map
- 20

[2018-12-31 14:32] evil-at-wow commented on #1819
That's an interesting remark, @Grz3s, about wrong spawns in the databases. It's perhaps even the reason why the error is logged by the core. But I think that's not what's actually going on here!

I recently looked into this after I found similar errors in my TBC logs for the Dire Maul map:
[code]

I noticed a pattern though, which also holds in my TBC server map files for the errors you mention: n

[2018-12-31 18:04] yatzi888 commented on #1580
Can confirm this is still occuring - https://www.youtube.com/watch?v=JWCefN1etb8&feature=youtu.be Latest commits.

[2018-12-31 18:19] Grz3s commented on #1819
Well maybe ... but then you should see spam of these errors ... for every creature
also:
I fixed simmilar errors by correcting spawns already...
https://github.com/cmangos/wotlk-db/commit/36220e9842dd126c8d131acba34842bbeac316c2
- or it was DB dev mistake with xyz... (example ... .xxx instead of -xxx)
- or creature taken from sniff but in our core half of it stucks inside ground lvl - that in some

[2018-12-31 21:25] #1818 closed, assigned to nobody

[2018-12-31 21:59] killerwife commented on #1817
I can chime in on adding more info. Basically AOE ignores totems by default. We have a grid searcher for trap GOs in place which does not do all the check the spell targeting does. The fix here is to unify both systems. Thats the theory, I myself do not have time for it atm.

[2019-01-01 12:31] ulfgebhardt commented on #1817
Totems have one really big problem. How ?  When I place Trap and in Trap radius I place Totem , Totem disappear Trap and got immune. I think Traps have some specific Area of Effect Immunity. Why ? Because when i use some other Area of Effect for example Volley, Totem dont got immune and isnt destroyed. For correct functionality ,Totems must have specific Area of Effect Immunity vs Traps.

1. Trap

[2019-01-01 13:47] Phatcat opened #1820 "Can't compile on Windows 10 x64 with Visual Studio CE and boost 1.69.0 ?"
**Current behavior**:

Can't compile any cmangos core due to errors;

"'_snprintf': is not a member of 'std' (compiling source file C:....)..."
"cannot open file '..\..\src\shared\Debug\shared.lib'"

There isn't even any debug folder in src\shared at all, so...

![image](https://user-images.githubusercontent.com/1907820/50573384-2dd97f80-0dd3-11e9-9fd9-3e014574f0d6.png)

**Expected behavior**:

Ab

[2019-01-01 13:49] splinecl commented on #1815
classic-db fb87a373aa253b59af536c2bbe6fa52d049d75ea

[2019-01-01 13:50] splinecl commented on #1816
classic-db fb87a373aa253b59af536c2bbe6fa52d049d75ea

[2019-01-01 13:53] AFrdn commented on #1820
if you search for std::_snprintf you should find a single occurence of this in the code base. Deleting std:: fixes the build problem

[2019-01-01 14:04] Phatcat commented on #1820
Okay, so I tried searching for it, and I'm not finding it.

![image](https://user-images.githubusercontent.com/1907820/50573551-3bdccf80-0dd6-11e9-896f-138215f8a0f8.png)

https://github.com/cmangos/mangos-classic/search?q=std%3A%3A_snprintf&unscoped_q=std%3A%3A_snprintf

Am I misunderstanding something here, or have I perhaps set up something incorrectly?

[2019-01-01 14:14] AFrdn commented on #1820
I remembered I had the same issue 2 weeks ago, but I can't find back where I changed something in the end :(

[2019-01-01 14:18] Phatcat commented on #1820
It's all good, don't worry about it, it would arguably need a proper fix project-side anyways, but it would be nice getting to build right at this moment (I could just grab the pre-builds, but I ain't admitting defeat yet)

[2019-01-01 14:18] AFrdn commented on #1820
I remember I had issues from using the most recent version of boost instead of the one recommended in the installation instructions, that might be what was causing this

[2019-01-01 15:01] cala commented on #1820
@phatcat just a wild thought: are you building in debug mode ? If so, try release mode. I can't tell you sure as I don't use VS but I remember someone having similar issue as yours and he was building in debug mode with recent boost lib.

[2019-01-01 15:08] Phatcat commented on #1820
Well, I'd hate to have to give up debug, for troubleshooting purposes, but I'll give it a try, at least it should narrow down what actually needs to be ironed out for cmangos to build on the latest cmake.

[2019-01-01 15:20] Phatcat commented on #1820
Alright, I found a solution. It's a pretty messy one but it works.

If you look in my originally posted picture, you'll notice all those errors are coming from the same file;

system_category_win32.hpp

On line 52 it reads;

std::snprintf( buffer, len, "Unknown error (%d)", ev );

And doing as @AFrdn suggested, I replaced the std::snprintf with _snprintf and now it builds without error...

Hmmm...

[2019-01-01 15:46] cala commented on #1820
Glad you found a solution, though I agree with you  it would be better if it builds out of the box. But I'm afraid I won't be of any kind of help regarding Win build.

By the way, happy new year to you and your dears ones. 🙂

[2019-01-01 15:51] Phatcat commented on #1820
Well thank you, and happy new year to you and yours as well =)

[2019-01-01 15:52] AFrdn commented on #1820
next hurdle I met was a problem with one of the creation scripts. I made a pull request to fix it, but in the mean time you can also fix it on your local version: https://github.com/cmangos/mangos-wotlk/pull/265

[2019-01-01 15:55] Phatcat commented on #1820
Hehe, looks like someone was in such a rush to push something that they didn't get around to to test nor even visually check the code ^^

[2019-01-01 17:53] AFrdn commented on #1820
It happens when you're tired after a day of work and want to push a bunch of changes to the open source project you work on after regular work, it's fixed now.

[2019-01-01 19:16] yatzi888 opened #1821 "Disconnecting on a flightpath lets you fly upon logging back in"
**Current behavior**: When you force diconnect or your connection drops whilst on a flightpath, when you log back your character will come back with fly on

**Expected behavior**: Upon logging back in  flightpath should continue where left off and player should be forced to the ground as normal when the fp is over.

**Steps to reproduce**:
https://youtu.be/v_Y1LCsYi_w
1. take a fp
2. disconnect
3.

[2019-01-01 19:39] yatzi888 commented on #1821
I went back to a previous core not sure on the commit but it's probz a week old and the issue isn't appearing

[2019-01-01 19:58] AnonXS commented on #1821
dupliacte https://github.com/cmangos/issues/issues/1728

[2019-01-01 19:58] #1821 closed

[2019-01-01 23:11] Warlockbugs commented on #1412
Fully fixed as of:
https://github.com/cmangos/mangos-classic/commit/4a2641a81cfd1e04bcaf8d947cb9a3d5c9815cc5
https://github.com/cmangos/mangos-tbc/commit/66562ea68dbd2b3d2331a83ada7891ee6256b947
https://github.com/cmangos/mangos-wotlk/commit/6b36025b638b1f6ac89539f598f05016cc9cacf7

Players start with a version without Judgment component; Judgment training replaces it with a similar rank suitable

[2019-01-01 23:11] #1412 closed

[2019-01-03 23:24] lduguid opened #1822 "[TBC] - Two mages in same party cannot refresh each other same rank 1 polymorph"
**Current behavior**:

Two mages in same party, first mage polymorphs creature, before the polymorph expires, the second mage attempts to polymorphs creature again before original polymorph expires.  Errors with more powerful spell is already active.  In my case I was using rank 1 polymorph with both mages.

**Expected behavior**:

Same rank polymorph should be allowed to be reapplied by friendly

[2019-01-04 00:03] adellaci commented on #1790
I'm testing that tonight. After everything is loaded i'm using 1756000 of mem + ot -

[2019-01-04 00:43] lduguid opened #1823 "Enchanted Item in 'will not be traded' Slot of Trade Dialog Cannot be Completed"
**Current behavior**:

Trade an item in 'Will not be traded' slot of trade dialog with a player that has trade skill enchanting.  The enchanter enchants and trades and you can see the enchant in the dialog but it will silently not complete the trade.

**Expected behavior**:

Trading with an enchanter will complete with the item returned to owner with enchant.

**Steps to reproduce**:

1.  Open tra

[2019-01-04 04:11] Warlockbugs commented on #1822
Fixed (sort of).
This is specific to my old incomplete rewrite of aura stacking present in Classic and TBC cores.
Polymorph should not be handled the way it was. Its tired to another system currently also incomplete (that being DR).

[2019-01-04 04:11] #1822 closed

[2019-01-04 08:10] yuanf225 commented on #1814
I don't know how to view the hash value, but I just update the DB and core, keep to the latest status, and then I recorded this BOSS video: https://youtu.be/on66Vhh5E-Y

[2019-01-04 17:49] killerwife commented on #1814
Yes, I can confirm the script is in shambles. It will not be addressed soon, but my team is working on Black Temple.

[2019-01-04 18:42] Tobschinski opened #1824 "multiple Edge of Madness events active"
There are multiple Edge of Madness events active ... shouldn't be most likely.

![untitled](https://user-images.githubusercontent.com/4753528/50704759-bb79d100-1058-11e9-8455-7cb8223b7266.png)

**Timestamp**:
1546627637

**Commit hash**:
b77a96351df74cc9f5bfa97a824aa4cf226d37da

**Database version**:
f406f10aaa675b4d78793db5204bf4f0c3651bca

[2019-01-04 19:07] Tobschinski commented on #1815
Entry: 15760
Name: Winter Reveler
[0] CreatureDisplayID: 15750
[1] CreatureDisplayID: 15752
[2] CreatureDisplayID: 0
[3] CreatureDisplayID: 0

[2019-01-04 19:09] AnonXS commented on #1815
they use spells to change entry which defines models, fucking game event npcs

[2019-01-04 19:17] Tobschinski commented on #1815
Makes sense, if there's no use of NPC 15760 without the spells. If yes, then the model looks like in the screenshots above.

[2019-01-04 19:18] Tobschinski commented on #1815
My favorite:
![untitled](https://user-images.githubusercontent.com/4753528/50706346-d9960000-105d-11e9-8b2e-bace2af5aeb2.png)

[2019-01-04 19:18] AnonXS commented on #1815
strange is that it seems that displayids in SMSG_CREATURE_QUERY_RESPONSE also has changed, whats the timestamp of your paste?

[2019-01-04 19:19] Tobschinski commented on #1815
Far later, Cata, I wouldn't trust it myself then. Even if they are valid models.

[2019-01-04 23:10] xfurry commented on #1790
I also remember that I saw this error, but not recently though.
I will try to investigate it again, as soon as I have the chance.

[2019-01-05 04:59] Phatcat opened #1825 "Severely Outdated NEWS.md"
NEWS.md hasn't been updated in 6 years and contains invalid as well as confusing and conflicting information:

NEWS.md file in the classic core repo mentions 'Upgrade to client version 2.4.3 (build 8606).', as well as that ACE is in the active branch, when it is in fact removed entirely)

They (as in NEWS.md across all the different cores) also reference the 'Authors' file for copyright informatio

[2019-01-05 17:03] Phatcat commented on #1825
I remember that discussion. I was part of that discussion. And no, it wasn't questionable to up from GPL 2 to GPL 3 as such a move was claused in the original license, as Grz3s mentioned in his comment; https://github.com/cmangos/tbc-db/commit/f1d6d16dad22fbbf8fb662f551a3d2a0244d55cb#commitcomment-23465089

Basically, one is doing as the license says you can do, the other is simply removing a lice

[2019-01-06 10:08] DennisWG opened #1826 "Security Vulnerability"
**Description:**

Anyone with read-access to the account database (by legit means or otherwise) can log into any account they want to.

This is due to the fact that all the major emulators currently store the hash of USERNAME:PASSWORD - which is refered to as `x` in the SRP6 protocol - within their database, namely within the `sha_pass_hash` field inside the `account` table. Using this value, you

[2019-01-06 13:47] adellaci commented on #1790
i can log on to the Realm but i an stuck on connecting to the World.
When i started my mem was at 1756000 +/-, now that i can not enter into the World mem is at 1848636.

i can not get 'mangosd' to shutdown by 'server shutdown 0'. I have to use 'Ctrl-C' to get it to stop. Mem usage with server idle is 429000 +/-.

I did not get the 'transportsystem.cpp Error' message on close.

I'm rerunning the t

[2019-01-06 14:32] adellaci commented on #1790
Ubuntu Server 16,04.
CMaNGOS : 005a7a98f50569817b2b0d5f1bf16bb012ffd704
WOTLK-DB : e41a5b54cbfbbcb80d34467d5286bc1fb189e4ae

Server idle with three terminals open for, one terminal has 'top running'
Memory Usage: 332000+/-

realmd started in terminal 2
Memory Usage: 342000+/-

mangosd started in terminal 3 w/ all maps loaded
Memory Usage: 1753000+/-

after 5 minutes of running, NO character logged

[2019-01-06 15:17] adellaci commented on #1790
After one hour of running with no character logged in
Memory Usage: 1811000+/-

[2019-01-06 16:45] madmax765 commented on #1790
same.. i could not shut down. and got no error that time too up time 3 hours 44 mins.. and its ok, but wont make it pass 24 hours

[2019-01-06 17:00] adellaci commented on #1790
2 hours 40 mins can still enter world,
after logging out
Memory Usage: 1822000+/-

[2019-01-06 17:02] evil-at-wow commented on #1826
Interesting, I never realized the existence of that sha_pass_hash column (or I forgot of course). I agree with your suggestion, the alternative fix shouldn't be needed and probably only complicates things needlessly. There's no good reason why we should keep the sha_pass_hash field around, because the account table contains everything else that's needed for the server to calculate the session key,

[2019-01-06 18:20] Laizerox commented on #1826
This is interesting indeed, however there are couple things I would like to mention first.

For example even if you remove sha_pass_hash and you have access to an account database its still possible to login into accounts even without knowing password. [I will leave this research here as it may contain proof of concept how it could be done.](http://opine.me/blizzards-battle-net-hack/)

Then anothe

[2019-01-06 19:06] Fabi commented on #1826
Just save the password verifier and the salt for the user. that is how it should be. nothing else.

[2019-01-06 20:00] Phatcat commented on #1825
Also are you even sure about that? Cause I just inspected the SVN repo and look here in the readme which hasn't been touched since 2008;

  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, **or
  (at your option) any later version.**

https://github.com/cmangos/mangos-svn/blob/master/trunk/README

[2019-01-07 15:02] Muehe commented on #1814
@yuanf225 You can get the currently checked out commit hash of any git repo by opening a console at its location and entering `git rev-parse HEAD`. This will print one line containing the full hash.

[2019-01-07 20:36] Phatcat commented on #1820
Alright so to get cmangos to build on boost 1.66 or later without modifying boost you have to remove this line;

#  define snprintf _snprintf

from the \src\shared\Common.h file

[2019-01-07 21:59] Muehe commented on #1820
[code]

Can somebody test this patch with boost >= 1.66 please? Seems to work fine for 1.65.

[2019-01-08 01:03] MantisLord commented on #1820
Summoning @cyberium @killerwife @Warlockbugs

Looks like a solution has been found here for supporting newer boost versions. Which route should we take? We could remove the line entirely depending on what version of VS we want to support. Or we could use solution like @Muehe has and define it based on either Boost or VS version.

[2019-01-08 02:39] yatzi888 opened #1827 "[TBC]Pet Trainer doesn't teach pet spells - just takes gold"
**Current behavior**: When trying to upgrade pet abilities at the pet trainer, nothing happens when pressing train. It just takes the gold.

**Expected behavior**: Should learn the spell and put it into players beast training

**Steps to reproduce**:

1. tame pet
2. go to pet trainer
3. try to learn spell

Video - (please note I changed the spell trainer to cost no gold per skills. at the normal t

[2019-01-08 04:13] Lankytim commented on #1790
In case this is related/helpful, I had a "transport-related" crash on my mangos-tbc today:

[code]

[2019-01-08 07:04] Warlockbugs commented on #1827
The actual training works, pet receives new spells. It is a problem with trainer's list display after training, listing already known spells, allowing to request a training and charging for it over and over for no practical effect other than burning gold.

[2019-01-08 08:49] Warlockbugs commented on #1827
This issue is fixed by:
https://github.com/cmangos/mangos-tbc/commit/79c8f0a4185af4d36bd693ef58a87605503fcf61
https://github.com/cmangos/mangos-tbc/commit/60b684590f6cd1d4aedd453793f3d259943b2371

[2019-01-08 08:49] #1827 closed

[2019-01-08 09:02] Warlockbugs commented on #1820
The issue originates in dependencies, while Common.h is a part of the project source.
Arguably the correct semantics for this workaround would be adding a global CXX definition to CMake under MSVC condition upon detecting version of the boost dependency? Something like this:
`add_compile_definitions(snprintf=_snprintf)`

[2019-01-08 10:19] Phatcat commented on #1820
I found the solution of deleting the define by asking a bit around about what could be the cause and this is the answer I got;

![image](https://user-images.githubusercontent.com/1907820/50824500-0d5f7700-1337-11e9-9d09-6d02ef4e38cf.png)

[2019-01-08 17:38] #1820 closed

[2019-01-08 17:38] #1825 closed

[2019-01-08 19:38] cyberium commented on #1797
Could you please give me proper item id as exemple? I am not able to identify clearly the problem. I see btw that there is not much item of these type that are only droppable. They often are available on some vendor. So to maximise the chance to get White quality of cloth try enable vendor item.

[2019-01-09 00:33] adellaci commented on #1790
I got home and tried to log in, got hung enter world.

Memory Usage: 184000+/-
%cpu went from 71 to 105

[2019-01-09 04:03] yuanf225 commented on #1814
core:2d420a4c40ab47d5679959b0f1eba4a30f34b152
DB:1ad105e926393dd3bd2c632ee4ca4e6932028dcf

[2019-01-09 04:05] yuanf225 commented on #1814
@Muehe
core：2d420a4c40ab47d5679959b0f1eba4a30f34b152
DB:1ad105e926393dd3bd2c632ee4ca4e6932028dcf

[2019-01-09 07:10] Ve1vet commented on #1814
@killerwife the script is fully working. The only thing need to change is flag for Akama on channel pharse. Change UNIT_FLAG_NON_ATTACKABLE to UNIT_FLAG_DISABLE_HELP to not let raid heal Akama.
Everithing else is DB issues, not script.
I tried to find my fixes for DB, but they are gone :(

[2019-01-09 07:54] Ve1vet commented on #1814
If any, I can dump all info related to Shade of Akama encounter from Database. NPC, Spells etc.
Shade of Akama encounter worked as it should.

[2019-01-09 22:38] yatzi888 commented on #1827
@Warlockbugs Sorry if I'm being silly but I downloaded the lastest core and I'm still experiencing the same issue. Has the change not been compiled yet? Not sure how to accurately test.

[2019-01-10 06:34] Warlockbugs commented on #1827
Pushed another patch today.

[2019-01-10 08:08] yatzi888 commented on #1827
@Warlockbugs awesome! Thanks

[2019-01-10 08:15] yatzi888 commented on #1827
@Warlockbugs tested and working! 👯‍♂️

[2019-01-11 00:47] Rog360 opened #1828 "Quest 6624 & Quest 6622 Triage Are Broken"
**Current behavior**:
Item 16991 is targeting player and not NPC [12923,12924,12925,12936,12937,12938]

**Expected behavior**:
Use item 16991 on above NPCs and cure them. May also need SD2 checked too.

**Steps to reproduce**:
1. Take Quest Triage [Alliance or Horde]
2. Use item on NPC.

**Client version**:
3.3.5
**Commit hash**:
b932fdf4b22c37e3ee6127af9ae5e1a8de7860e3
**Database version**:
PSDB

[2019-01-11 02:08] Alex2162 commented on #1817
**Current behavior**:  Hunter Traps are taken by Shaman Totems. When i place hunter trap ,like Freezing Trap near shaman totem ,like Tremor Totem then Trap disappear and its says Immune.

**Expected behavior**: Hunter Traps will be ignored by Shaman Totems.

**Steps to reproduce**:
1.  Shaman spawn totem like Tremor Totem.
2.  Hunter spawn trap like Freezing Trap in their proc radius, near totem o

[2019-01-11 18:17] Patrick-Barry commented on #1778
I found the issue with the voidwalker's armor. In the database it's armor multiplier is set at -1 instead of 1.
The following will correct the error:
UPDATE `classicmangos`.`creature_template` SET `ArmorMultiplier` = '1' WHERE (`Entry` = '1860');

[2019-01-12 15:55] yatzi888 opened #1829 "[TBC] Undeads seem to be getting Draenei Racials"
**Current behavior**: Undeads seem to be getting Draenei Racials - Gem Cutting/28875 & Gift of the Naaru 28880

https://imgur.com/eJirUa9

**Expected behavior**:  Shouldn't recieve these racials.

**Steps to reproduce**:

1. Create undead character or log to already created undead

**Client version**:  2.4.3

**Commit hash**: 3671e06eaa46e1abe5750dd47d80e5566c64e5ce

**Database version**:  26279a8

[2019-01-12 15:55] AnonXS commented on #1829
@Warlockbugs you can close this when you are done. :)

[2019-01-12 16:04] killerwife commented on #1829
Apply this to your character DB and pull newest core:
DELETE a FROM character_skills as a WHERE skill IN(760) AND guid IN (select guid from characters b where race IN(5) and a.guid=b.guid);

[2019-01-12 16:16] Warlockbugs commented on #1829
Already fixed in last commits. New characters are cured already, but DB requires a cleanup, either a db revision patch or a core auto-cleanup solution of some kind.

[2019-01-12 17:05] AnonXS commented on #1829
https://github.com/cmangos/tbc-db/commit/e4bc8014a8d195f3783f08a25be148271b64b00c

[2019-01-12 17:05] #1829 closed

[2019-01-13 00:09] yatzi888 opened #1830 "Hyjal Summit - Lady Jaina Proudmore Does Not Respawn After Death"
**Current behavior**:
In Hyjal Summit, when the players die leaving just Jaina and the wave of adds. Jaina is eventually killed, which should stop the wave event and cause her to respawn.

Respawning Jaina manually resets the event but it's not occuring automatically.

**Expected behavior**:
When the adds kill Jaina the event should end, following Jaina respawning. This lets the players retry.

**

[2019-01-13 10:05] cala commented on #1804
Thank you for your feedback. Notice is made in commit for other users.

[2019-01-13 10:05] #1804 closed

[2019-01-13 10:15] bdebaere commented on #1813
It does indeed look like the official name is Smokywood according to http://wowwiki.wikia.com/wiki/Smokywood_Pastures. I have an open pull request to fix the ones where a source proves they should be spelled otherwise. It appears there are more misspellings of this name in the database, however, they do match with the source. The OfferRewardText of quests 8769, 8827 and 8828 all mention Smokeywood

[2019-01-13 11:12] bdebaere commented on #1738
@AnonXS 268435458 is QuestGiver + Guard. I updated the value to 2 like in TBC with sadly the same result.

[2019-01-13 12:07] Grz3s commented on #1738
i think its a mmap issue ... u can check
`UPDATE creature_template SET ExtraFlags = ExtraFlags | 16384 WHERE entry IN (14182);`
this is not a fix (it will make him go through walls etc - if aggroed) ... but will show you where isuee lays.

[2019-01-13 13:12] madmax765 commented on #1790
  | Name | Value | Type
-- | -- | -- | --
▶ | this | 0x000001e83886e798 { size=15987178197214944733 } | std::list<Group *,std::allocator<Group *> > *

Unhandled exception at 0x00007FF7BB866F2B in mangosd.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF.

crash final in debug mode

http://www.crypthome.com/crash.png
![image](https://user-images.githubusercontent.com/29853/51085

[2019-01-13 14:09] Phatcat commented on #1393
This is not the case anymore, doing a death grip on an enemy, agrroed or not, does not make it jump towards you. Spell visual is happening but no actual effect.

[2019-01-13 15:53] bdebaere commented on #1738
@Grz3s Updating that to a disable works. So this points to a mmap issue. But why? I've used the extractors...

[2019-01-13 15:53] AnonXS commented on #1738
predefined extractor settings are not perfect

[2019-01-13 16:02] bdebaere commented on #1738
@AnonXS I never saw any options regarding ExtractResources.sh? What settings do I have to use and how can I set them?

[2019-01-13 16:10] bdebaere commented on #1805
Couldn't reproduce on classic (Code 0c4900f5dd8388ce9b4124ee281e3693b133cdce, DB 6412c603a03b5d9b0e9d734e418ece4ce5cc7d49).

[2019-01-13 16:31] AnonXS commented on #1738
https://github.com/cmangos/mangos-tbc/blob/b4dcb0f4782babf0147f764a77e533eb375bb2fc/contrib/mmap/src/MapBuilder.cpp#L383

[2019-01-13 16:38] Phatcat opened #1831 "Quality Control Against Let's Play WoW Deathknight [Part 2]"
https://www.youtube.com/watch?v=hnXA_Mhic-4
(watch in 0.75 or 0.5)

- [ ] 1:28 (1:33) - Both the death knight initiates we see him fighting go to their knees (looks like they are doing the beg) once they are defeated. All 5 initiates I fought on cmangos did nothing but despawn once they lost.
Also, the death knight initiates you challenge to a duel should stop their other actions and focus on the

[2019-01-13 16:53] bdebaere commented on #1831
@Phatcat Here's another video. Definitely looks like a beg. They should also say a random text before the duel begins like "No potions." or "You don't stand a chance, $N". https://www.youtube.com/watch?v=b863yUtcCzM&feature=youtu.be&t=794

[2019-01-13 17:02] Grz3s commented on #1831
duel = sd2 script... anything else is db scripting...
and probably .. i need to fix all on db side... :)

[2019-01-13 17:12] yatzi888 opened #1832 "Scorched Debuff Stops Applying to Target"
**Current behavior**:  Using the talent Improved Scorch as a Fire mage [https://vanilla-twinhead.twinstar.cz/?spell=11095] a player is able to put a 5 stack debuff on a target to increase it's fire damage taken. Currently that debuff stops applying when the player iceblocks, and other random events which are hard to replicate.

(video showing the bug - https://youtu.be/EpybIJWPFwk?t=23)

**Expecte

[2019-01-13 17:31] yatzi888 commented on #1832
https://imgur.com/sCuC2m0 - when its working
Noting appears when it doesnt.

[2019-01-13 17:34] killerwife commented on #1832
I have seen this bug before, and I thought it was eliminated. I inspected code on death and currently that should not be possible, but I am used to being proven wrong. I will try to look into this soon, because its definitely in my area of expertise.

[2019-01-13 17:38] yatzi888 commented on #1832
If it helps in anyway it seems to be recent, it was brought up when I jump from a mid December core where the pet trainer was working then the latest once it was resolved. I can't confirm anything but there was no word until I did the update and now its spotted a fair bit.

[2019-01-13 17:43] yatzi888 commented on #1832
I'll do some core rollbacks in the test envirument when I'm a bit more free, maybe I can pinpoint a rought time on commits to where the bug appeared.

[2019-01-13 18:33] yatzi888 commented on #1832
Been testing older cores and I've narrowed it down to a change between the 28/12/2018 and the 9th of Jan. Don't have the exact core date right now. But coming up recently to the first iteration of the pet trainer fix caused it to appear my end.

[2019-01-13 19:06] killerwife commented on #1832
Reproduced. Will be fixed.

[2019-01-13 19:20] Phatcat commented on #1831
Pretty sure they already do this, say the text at least.

[2019-01-13 19:52] xfurry commented on #1790
@madmax765 this image points to something else. ```DungeonPersistentState: UnbindThisState()```. -> Poke @cyberium

However, the other error regarding the transport still remains.

[2019-01-13 20:32] yatzi888 opened #1833 "Elemental Mastery Proccing on Previous Spell Cast Causing no Crit or Mana Reduction"
**Current behavior**:  When a player is spamming abilities and slots in the talent elemental mastery [https://vanilla-twinhead.twinstar.cz/?spell=16166] the aura drops when the previous cast hits the target, rather than proccing on the next cast. Losing the aura from the previous spell cast doesn't make that cast benefit from the 100% crit of mana reducton. Using it on an opener or after a small d

[2019-01-13 22:59] cala commented on #1813
A tough question that we have on a regular basis with no clear rule yet. Basically: if it is an obvious bug or typo like here, we fix it unless the bug/typo was so wildly known that it is expected to be that way.

We tend to keep everything else blizzlike even if we have doubts.

[2019-01-13 23:15] cala commented on #1813
Closed in Classic DB by
https://github.com/cmangos/classic-db/commit/5b15177ed71c754564e5ef4f6c0bad86bc626d20

[2019-01-13 23:48] AnonXS commented on #1813
My gut feeling tells me that the first repo to resolve an issue should always close the related issue, if found. else it is very likely to stay open as there is no backlink in the commit that fixed it.

[2019-01-14 20:13] RichardGe2 opened #1834 "Wrong ID for Hammersmith Axesmith Swordsmith Learn Spells"
You can learn blacksmith specialties from NPCs :  "Lilith the Lithe" "Kilram" and "Seril Scourgebane".
But in the current Vanilla, it doesn't work because spell IDs are wrong

#define S_LEARN_HAMMER          39099
#define S_LEARN_AXE             39098
#define S_LEARN_SWORD           39097

should be replaced by the good spell IDs :

#define S_LEARN_HAMMER          17044
#define S_LEARN_AXE

[2019-01-15 13:49] yatzi888 commented on #1720
I see to also experience this with feared mobs. If that also counts as "fleeing" TBC

Client version: 2.4.3

Commit hash: c559b36d4e99345002f59987161bb87591bc30d4

Database version: 8de43372a43d824a3f9e5688d1f6609ab71cb775

[2019-01-15 14:37] LevelOneX commented on #1720
Is this VMaps or object collision code related ?

[2019-01-15 14:40] cala commented on #1824
Damn, I can't assign yourself to it... :/

[2019-01-15 14:41] cala commented on #1813
We can agree on that! :smiley:

[2019-01-15 14:41] #1813 closed

[2019-01-15 23:19] yatzi888 opened #1835 "Poisons skill showing incorrect values and not skilling up."
**Current behavior**: Poisen skill is showing 3157/0 and does not increase when trying to skill up.

Image: https://imgur.com/a/g7oZDX1

**Expected behavior**: Poisens should be 0/75 (pretty sure on this)

**Steps to reproduce**:

1. .learn 2842
2. Open general tab in spellbook and click on Poisons

**Client version**: 2.4.3

**Commit hash**:  fec66a2b2907c74bb88acbfbfe8d52e3b8210408
Database vers

[2019-01-16 06:18] Warlockbugs commented on #1835
Looks like uninitialized value. Will be investigated.

[2019-01-16 08:02] Warlockbugs commented on #1835
Should be fixed as of:
https://github.com/cmangos/mangos-classic/commit/b76575a146d09fb2d1a4249c3984a5324cfd7041
https://github.com/cmangos/mangos-tbc/commit/8e3355c3fa8dcac3647d1bb0846a7f9732a58022
https://github.com/cmangos/mangos-wotlk/commit/ee7d297a7919cebe1659a0caa6f7dee1ca83d31c

[2019-01-16 08:02] #1835 closed

[2019-01-16 08:15] #1834 closed

[2019-01-16 08:19] Warlockbugs commented on #1834
The specialization unlearning mechanics from newer xpacks does not fit vanilla, there is no SPELL_EFFECT_UNLEARN_SPECIALIZATION nor spells for it. I think it left untouched in the core until further information on the subject. It may be quite possible that unlearning was not possible as of 1.12.x.
Related: https://github.com/classicdb/database/issues/262

[2019-01-16 08:21] Warlockbugs commented on #1834
Tagging @cala on the subject again.

[2019-01-16 08:35] killerwife commented on #1834
From my recollection, unlearning was not possible.

[2019-01-16 15:22] #1815 closed

[2019-01-16 15:22] #1811 closed

[2019-01-16 22:46] cala commented on #1834
Profession specialisation could not be unlearned back in Classic days. You chose a specialisation and it was for ever.

I'm aware some clean-up is required in Classic DB/core regarding these, I just never took the time to look at it.

[2019-01-17 00:44] Tobschinski commented on #1824
my vacation is going to last for at least another 5 months, it kinda depends on Blizzard

[2019-01-17 01:13] adellaci opened #1836 "[WotLK] db-version out of date 13990_01*.sql / 13992_01*.sql"
**Current behavior**: Using configuration file ../etc/mangosd.conf.
World Database total connections: 2
MySQL client library: 5.7.24
MySQL server ver: 5.7.24-0ubuntu0.16.04.1
MySQL client library: 5.7.24
MySQL server ver: 5.7.24-0ubuntu0.16.04.1
SQL: SELECT required_13992_01_mangos_weapon_skills_fix_wotlk FROM db_version LIMIT 1
query ERROR: Unknown column 'required_13992_01_mangos_weapon_skills_f

[2019-01-17 12:19] #1819 closed

[2019-01-17 20:30] Tobschinski opened #1996 "Sethekk Halls - GO 5560001"
This door does not look correct (entry) and is used somewhere else as well. That is highly unlikely.

[2019-01-17 21:50] Grz3s commented on #1836
https://github.com/cmangos/wotlk-db/commit/17a5aa0cfb32aacc706ad7240938c3898f6566e7

+ make sure you have newest core

[2019-01-18 00:23] yatzi888 opened #1837 "Spirit Ressers in Battlegrounds don't revive players"
**Current behavior**: Spirit resser in the battlegrounds are casting the res spell [22012] but nothing happens to the dead players, they stay dead on cast completion. The animation fires off.

**Expected behavior**: Dead player with the timer countdown should res once the spirit resser finishes casting

**Steps to reproduce**:

1. Enter WSG
2. Die
3. Try to res

Client version: 2.4.3

Commit hash:

[2019-01-18 00:38] yatzi888 commented on #1837
I can't seem to cast 22012 in a dead player - maybe it has the wrong attribute?

[2019-01-18 01:46] adellaci commented on #1836
@Grz3s
Thank you It works right now.

[2019-01-18 01:46] #1836 closed

[2019-01-18 05:32] ratkosrb commented on #1834
That is true for early vanilla, but after 1.10 you could choose another specialization if you unlearned the whole profession. If you installed WoW from the disk and patched it yourself, you should have file called Patch.txt in your game folder that contains the full patch notes. If you look in it, you'll find this:

[2019-01-18 09:20] cala commented on #1621
Closed by https://github.com/cmangos/classic-db/commit/a4b14eca185a0817282a361cf2d77378a9d0a550

[2019-01-18 09:20] #1621 closed

[2019-01-18 10:33] #1779 closed

[2019-01-18 20:12] yatzi888 commented on #1837
Going to do some testing tonight to see if I can figure it out :)

[2019-01-19 04:17] Tobschinski commented on #1837
Okay, the night is over ... we expect answers.

[2019-01-19 05:18] yatzi888 commented on #1837
I've been trying to remove the value 1024 in the spell_template targets column by changing it to 0 in both the dc spell.dbc serverside and clientside. Although it probably not the solution, I just want to atleast try get the spell to act like an aoe. The changes don't seem to stick though. There's not a lot online about spell editting so I'm probably doing it incorrectly.

[2019-01-19 05:39] Ve1vet commented on #1837
This bug never dissapear... Earlier it called "glitchihg" or something like that.
For some reason it not targeting players sometimes. Not always. Helps when you go out from spirit range & then came back into ressurecting circle radius, than you will be ressurected. But this not always works also...
I think this bug can be related to ... sorry forgot where & names of this functions... anyway, it re

[2019-01-19 05:54] Warlockbugs commented on #1720
This is a problem with maps. Nothing close to this was occurring a few months ago.

[2019-01-19 06:33] yatzi888 commented on #1837
On my server it seems to fail everytime, I'll try the run in and out thing.

[2019-01-19 08:45] killerwife commented on #1837
Hold my beer.

[2019-01-19 08:54] killerwife commented on #1720
Calling of mobs is done inside "MoveInLineOfSight", and as a result it uses LOS calculations. There must be something else that is problematic.

[2019-01-19 09:08] #1837 closed

[2019-01-19 09:36] Warlockbugs commented on #1720
Its not calling for help that is a problem at the moment, the pathfinder routes units through wmos. I cant recall any recent changes to pathfinder code that could affect it, but we had format update for data.

[2019-01-19 09:41] Ve1vet commented on #1720
@killerwife can be this https://github.com/cmangos/mangos-tbc/commit/6430d90ff668b44db25f456548d107312f3cfbae ?

[2019-01-19 09:42] killerwife commented on #1720
No, bcs MoveInLineOfSight is only called when ur in actual LOS. So the func would not be entered at all.

[2019-01-19 12:32] MagPurify commented on #1720
I am tracking this problem for a long time, and I really want to help. I have checked other repos to see how they have done object collision and PathFinder, but everything that I see, usually needs to import so much code that I just get afraid to touch anything. Though, I heard LH & Nolst lag were related to PathFinder, so since this is such a sensitive code to play, not sure what to do.

[2019-01-19 12:32] AnonXS commented on #1720
Add command ".gps" data else this really leads nowhere

[2019-01-19 12:34] MagPurify commented on #1720
is it better to re-upload the above scenarios with command gps into the chat ? Sorry I didn't know that command.

[2019-01-19 12:40] AnonXS commented on #1720
just write the .go xyz COORDs in the chat beow the screenshots, so one can lookup the locations more quickly.

[2019-01-19 12:41] killerwife commented on #1720
@MagPurify and did you do those screenshots with my change to fleeing movement generator?

[2019-01-19 12:44] MagPurify commented on #1720
I will do that @AnonXS , thanks for the tip
Yes @killerwife, I was testing your fix, I see it a little harder for creatures to cross now, but unfortunately it is still doing that.

[2019-01-19 13:15] killerwife commented on #1720
Try using MovePositionToFirstCollision inside Fleeing Movement Generator and see if it fixes it.

[2019-01-19 13:33] MagPurify commented on #1720
Should I replace the collision `owner.GetMap()->GetHitPosition` that is has there with the `MovePositionToFirstCollision` ? or do that before updating the position inside the IF block ?

[2019-01-19 13:34] killerwife commented on #1720
both the updateallowedpositionz and the gethitposition should be replaced.

[2019-01-19 13:39] yatzi888 commented on #1837
@killerwife You just saved my weekend <3 I was 50% through sorting out a work around in the meantime involving an npc casting res on a player through the gossip window. Holy fuck, I love you.

[2019-01-19 15:43] MagPurify commented on #1720
<img width="1280" alt="newchangefleeing" src="https://user-images.githubusercontent.com/46841019/51428759-a66f7700-1bee-11e9-9943-108fc1d36227.png">

[code]

I did this change above, I believe it had the same effect. Crossing walls on X or Y avoids well. The problem is the Z, when something is above or below.

[2019-01-19 15:47] MagPurify commented on #1720
Tested on the cave, it worked well, sometimes they climb the walls, but so far it haven't crossed.

[2019-01-19 16:40] MagPurify commented on #1720
I was able to reproduce that @LevelOneX. The Z problem might be related to the MoveChase from NPC as well. The attached screenshot is a example of when I was running with a NPC behind me, he started to flew to the above path. Is this a different problem @killerwife ?
<img width="1280" alt="movechase" src="https://user-images.githubusercontent.com/46841019/51429673-12a2a880-1bf8-11e9-8880-7cc6f9248

[2019-01-19 16:42] killerwife commented on #1720
That one is bad mmap extraction I'm afraid. Look at it through RecastDemo from the repo. ".mmap loc" will get u info. And then you need to load up vmaps and mmaps to see how it looks over there.

[2019-01-19 17:01] MagPurify commented on #1720
Thanks for everything @killerwife, you rock. One more question, since I don't want to abuse it. What's the best way to fix blink ? For example, in UC It's easy to fall into the doom. In houses, tents, or cave, when I blink sometimes I get above or below the place.

[2019-01-19 19:56] Phatcat commented on #1389
https://wow.gamepedia.com/index.php?title=Ammo_pouch&oldid=1632622
(Fetched during late tbc, but I see no reason this wouldn't aply to classic through wotlk until they got removed altogether in cata)

[2019-01-19 19:56] #1389 closed

[2019-01-19 23:00] lduguid opened #1838 "Tauren racial cultivation not applied when learning herbalism"
**Current behavior**:

Tauren racial cultivation not applied when learning herbalism. Herbalism skill starts at 1/75 as it does with all other races.

**Expected behavior**:

Tauren racial cultivation (Herbalism skill increased by 15) will be applied when a tauren race learns herbalism.  When this happens the herbalism skill should start at 15 (or 16?)/75

**Steps to reproduce**:

1.  Create taure

[2019-01-20 01:52] Warlockbugs commented on #1838
The bonus works on freshly created character, but disappears on logout. Investigating.

[2019-01-20 03:18] #1838 closed

[2019-01-20 03:19] Warlockbugs commented on #1838
Found it, a trickier one. Due to changes introduced into loading order, at the time Cultivation was loaded, Herbalism likely has not been loaded yet, so the bonus was never applied. Whether it happened or not entirely depended on the order of skills coming from database.

Character loading was tuned accordingly.

[2019-01-20 13:39] yatzi888 opened #1839 "Zul'Aman Nalorakk Runs Through the Ground After a Reset"
**Current behavior**:  When a group wipes or the boss is reset he runs through the ground, towards the edges of the map.

https://youtu.be/ruhN23pr-Aw

**Expected behavior**: Should go back to original position

**Steps to reproduce**:

1. .go c Nalorakk
2. Aggro then .die on yourself
3. Watch Nalorakk leave the game

**Client version**: 2.4.3

**Commit hash**: ea58208edb97ca294961ab2a2045cfda7786

[2019-01-20 17:06] #1728 closed

[2019-01-20 17:19] Warlockbugs commented on #1728
Fixed. More details in commit description.

If you notice any visual glitches with players who login mid-air (for example, relogging on a flying mount), let us know.

[2019-01-20 18:46] Ve1vet commented on #1839
You will find him later in the middle of the map among frogs 🤣
He glitching because of event. If you die on event pharse, event will just hangs.
This was my patch to prevent hanging event. Not remember if he fixes his running out... I wasn't fix anything for 2 years already...
[code]

[2019-01-20 19:02] Ve1vet commented on #1839
This is still not blizzlike. Nalorakk start run out earlier than it should( because ++m_uiBearEventPhase called to early  ) + i only learn sd2 at that time, but at least event not glitching any more.

[2019-01-20 22:37] Hollands09 opened #1840 "Class Trainers Teach All Ranks of All Spells"
**Current behavior**:
All class spells with the exception on _some_ Warrior spells are available regardless of talents or spell level.  For example, Earth Shield Rank 1 is not required to learn Earth Shield Rank 2 or 3.  This means that you do not have to go 40 points down the restoration talent tree to learn this spell.  This is true for all classes and races with the exception of Warriors.  Warr

[2019-01-20 23:54] Hollands09 opened #1841 "Improved Slam Rank 2 Does Not Work"
**Current behavior**:
Slam spell id: 12862 has a 1.5 second cast time, the talent in the warrior talent tree improved slam decreases cast time by .5 seconds for each rank of which there are 2 total ranks.  Improved slam 1 works and decreases slams cast to 1.0 seconds.  Improved slam 2 increases the cast time of slam from 1.0 seconds back to its original cast time of 1.5 seconds.

**Expected behavi

[2019-01-21 00:42] yatzi888 commented on #1840
I'm not getting the same results - https://imgur.com/a/Cye2uGC

commit e5507115906710a528d620fc0cd5d35afaa918f0

[2019-01-21 00:59] Hollands09 opened #1842 "Vazruden Does Not Work Properly"
**Current behavior**:
Vazruden the final boss on Hellfire Ramparts does not work.  The wrong text "Vazruden the Herald descends from the sky" is shown upon entrance into the instance but this should be shown when Vazruden is at a 10% health.  When the last guard is killed it does not set the boss fight into action.  If Vazruden is killed with .die it does not spawn the loot.

**Expected behavior**

[2019-01-21 01:31] enVias opened #1843 "Justine Demalier's Gender"
**Current behavior**:
Justine can spawn in as either male or female.

**Expected behavior**:
Justine should always be female. (https://wow.gamepedia.com/Justine_Demalier)

**Steps to reproduce**:
1. On a GM account, teleport to Stormwind using .tele stormwind
2. Look at Justine, who is standing next to you.
3. If female model is showing, .die and .respawn Justine until the gender changes.

**Clien

[2019-01-21 01:34] Hollands09 commented on #1840
![shaman](https://user-images.githubusercontent.com/46874978/51448191-b83a4280-1cf2-11e9-87c5-148220ec0c90.png)

This must me my side of the house.  Maybe I will just try a fresh install.

[2019-01-21 04:13] Warlockbugs commented on #1840
Cannot reproduce. Judging from your other reports, you have an outdated database. Please, try again with a fresh database.

[2019-01-21 04:17] Warlockbugs commented on #1841
Cannot reproduce.
[code]

[2019-01-21 07:49] yatzi888 commented on #1843
https://i.ytimg.com/vi/m7E-NFJaAgk/maxresdefault.jpg

[2019-01-21 08:50] AnonXS commented on #1842
https://youtu.be/LEvGcXDiIw8?t=40 40% hp, emote will be fixed soonishTM and not sure if we want to make the encounter ".die" able

[2019-01-21 15:03] cala commented on #1493
@killerwife I'm investigating this issue and from my understanding, the issue is not in the script itself, but the whole OutdoorPVP system as in its current state it does not seem possible to notify it of player resurrection.

I would suggest to add in `void Player::ResurrectPlayer(float restore_percent, bool applySickness)` to notify the OutdoorPVP system. We already notify instances on player re

[2019-01-21 15:54] cala commented on #1130
The casting time for the Black Qiraji Tank should be fixed by https://github.com/cmangos/classic-db/commit/267137dfa8d04775f6733e976263680869452ab4

The other issue probably needs an update of the AQ40 script, I'll handle that later.

(issue's labels updated)

[2019-01-21 18:37] MagPurify opened #1844 "Undercity Blink Teleports to Wrong Locations"
Current behavior:
If a player uses blink in Undercity, it will teleport to wrong locations.

Expected behavior:
Blink should respect the PathFinder, and get a point that the player can actually go.

Steps to reproduce:

.t Undercity
.learn 1953
Blink, anywhere !

Video:
https://drive.google.com/file/d/1XmbD7zfI33k_eKQHzXMkFT1FkhxDbUYD/view?usp=sharing

Client version:
2.4.3 (8606)

Commit hash:
82

[2019-01-21 18:43] MagPurify opened #1845 "MoveChase or MapExtraction issue, NPC walking into unreachable location."
Current behavior:
Possible MoveChase or MapExtraction problem. NPC's when chasing player is picking up terrain in unreachable locations

Expected behavior:
NPC should respect the map and move in the correct position when running to the player.

Steps to reproduce:

This have been reported for me in a couple places, but I was able to reproduce it the video below.

Video:
https://drive.google.com/fi

[2019-01-21 18:44] AnonXS commented on #1845
duplicate https://github.com/cmangos/issues/issues/1720

[2019-01-21 18:48] MagPurify commented on #1845
@AnonXS, as mentioned by Killerwife, he said that this might be a possible mmap extraction, that's why I created another issue, but if you like it, I can just post the evidences there.

[2019-01-21 18:49] AnonXS commented on #1845
It is, your wording was just poor. ` NPC's when walking or running away`

.go xyz 58.88, -4601.32, 50.71, 1

[2019-01-21 18:50] MagPurify commented on #1720
This is also a sample of what is happening with the above logic as well.
I believe should fall into the same category.

https://drive.google.com/file/d/1ohSJ4Wjh3OJ__ReW_XFlGAo-JJNZ6GfN/view?usp=sharing

[2019-01-21 18:54] MagPurify commented on #1833
I want to take a look at this, but I still haven't find any clue of when the `Clearcasting` should be used. Is it when the spell hits the mob or when the player casts a skill ? Does any one have any tip ?

[2019-01-21 18:57] MagPurify commented on #1842
Took a look at this very quickly. Looks like it's because when a player run into a fresh instance. The mobs are in some kind of evade state regenerating the HP from 1 to 100%.  Since the Boss is near the player entrance his script actives the second phase.

[2019-01-21 19:01] MagPurify commented on #1714
Possible related to this commit: https://github.com/cmangos/mangos-tbc/commit/d1aa52c863ff04957b9f44286a6f1bf31ebe0afd ... It fixed the problem, but sometimes I get a crash on that line of code, same as described on the commit https://github.com/cmangos/mangos-tbc/commit/d1aa52c863ff04957b9f44286a6f1bf31ebe0afd#r31948747

[2019-01-21 19:07] MagPurify commented on #1593
@keyshuwen
You can remove this line:
`spirit->GetMotionMaster()->Clear(false, true)`;
That NPC doesn't have motion generator, that's why is crashing it. Haven't created the PR because I am not sure if this is the correct fix for it.

[2019-01-21 22:15] #1130 closed

[2019-01-21 22:49] cala commented on #1130
And the AQ40 specific mounts are also fixed inn
https://github.com/cmangos/mangos-classic/commit/de4e5e24332a934cb0d39e12eb8bbe6f86ff1cad.

At least, it is fixed for Classic. As area restriction for spells were added in DBC starting with TBC, I'm unsure this issue exists for TBC+ (and thus if this fix is also needed there).

[2019-01-22 02:01] darklordsqk opened #1846 "Map::GetHeightInRange leak may cause z-coordinate calc error when specifying a nagetive value."
Mage blink in the UnderCity may reproduce this error.

**Current behavior**:
When a mage cast blink at the bottom of the UnderCity (with z near -60.00), it will teleport on the surface of the ground(with z near +60.00).

**Expected behavior**:
The blink spell's dest z-coordinate can only be similar with its start point z-coordinate.
Blink's targetMode is TARGET_LOCATION_CASTER_FRONT_LEAP. So trace

[2019-01-22 02:36] darklordsqk commented on #1846
Root cause of issue #1844

[2019-01-22 02:41] darklordsqk commented on #1844
@MagPurify
If it urged you, you may locally fix this with the simple fix procedure in #1846

[2019-01-22 09:53] cala commented on #1493
The stacking of auras should be fixed by https://github.com/cmangos/mangos-classic/commit/ac2eafe967782e8addc70d5904e0444596553a54

A bit of explanation about this issue: there were two things.

First, the script was originally relying on core to handle the aura stacking rules (only one version of Echoes of Lordaeron could apply at a time on a player). Now that the stacking rules were reworked, we

[2019-01-22 16:01] MagPurify commented on #1846
Yes, it worked for me as well. Should we create a PR for that or is to risky ? Maybe infer that question to someone with more knowledge on maps

[2019-01-22 16:19] killerwife commented on #1846
Guys test the commit I just pushed. This is one of those super old missed exports of mine (and technically its what was suggested here).

[2019-01-22 16:36] MagPurify commented on #1846
Worked the same way. I will close my issue. Thanks @killerwife

[2019-01-22 16:37] MagPurify commented on #1844
Resolved here: https://github.com/cmangos/issues/issues/1846

[2019-01-22 16:37] #1844 closed

[2019-01-22 17:34] #1846 closed

[2019-01-22 19:34] AnonXS commented on #1843
https://github.com/cmangos/tbc-db/commit/7250e1df900f180fa52446db5a5ba2f9274dd5bd

[2019-01-22 19:34] #1843 closed

[2019-01-23 02:15] yatzi888 commented on #1830
In this instance is the solution to just reduce the respawn time? It shouldn't effect raid progress is the sense that it shouldn't let people redo bosses. I've tested and doing .die on her and respawning doesn't let the group re-do previous progress (waves)

[2019-01-23 02:17] yatzi888 commented on #1839
I'd be tempted to just remove the RP. I do remember reading that @killerwife had a fix he was going to export or maybe I'm remembering wrong. I can get around the RP event but him leaving the map in a panic is a real show stopper haha xD

[2019-01-23 03:10] Ve1vet commented on #1839
@yatzi888 you can just create new "test" branch, apply those patches & test.
If not working, than something wrong with evade function or coordinates.

[2019-01-23 10:46] cyberium commented on #1845
On my side i can confirm navmesh problem on that place that need further investigation
![](https://i.imgur.com/Gq0Stme.jpg)

[2019-01-23 14:54] Lsnickels opened #1847 "Shaman - Flametongue Weapon"
**Current behavior**: Flametongue does very high damage (500-600 damage per swing with 1.8 speed weapon, no spell power at rank 7) in comparison to how hard it should be hitting. The ability also scales unexpectedly. With 930 spellpower, rank 7 flametongue hits for 1000 to 1400 damage per swing with a 1.8 speed dagger.

**Expected behavior**:  Typically flametongue hits for 50-60 damage per swing

[2019-01-23 15:15] LevelOneX opened #1848 "Boss Prince Malchezzar Infernals are not Working"
**Current behavior**:
During Malchezzar fight, infernal relays are not appearing even though he casts the spell and the animation appears. Model doesn't appear.

**Expected behavior**:
Malchezzar should summon an infernal in a random location every X seconds, and the infernall should cast hellfire.

**Steps to reproduce**:

1. .t Karazhan
2. Go to Malchezzar
3. Start Boss Fight

**Client version**

[2019-01-23 16:08] LevelOneX commented on #1848
Yes, it has. Right now it's 4,098 in my DB. On code

(GetCreatureInfo()->ExtraFlags & CREATURE_EXTRA_FLAG_ACTIVE) values is 4096.
4096 | 0×00001000 | CREATURE_EXTRA_FLAG_ACTIVE

[2019-01-23 16:43] killerwife commented on #1848
Ok, right now I can't (be bothered) to debug it. If you want to beat me to it check out the following lines of code in the core using breakpoints in debug in this order.
boss_malchezaar.cpp
relayFar->CastSpell(relayClose, SPELL_INFERNAL_RELAY, TRIGGERED_NONE);
spelleffects.cpp
                case 30834:                                 // Infernal Relay
spell.cpp
case 30835:

[2019-01-23 17:28] LevelOneX commented on #1848
It's not reaching the last part:
SPELL_EFFECT_SUMMON handler - EffectSummonType

[2019-01-23 17:36] killerwife commented on #1848
Okay, does it reach case TARGET_LOCATION_CASTER_DEST: inside SetTargetMap function in spell.cpp,
if not check Spell::CheckCast( function or Spell::CheckTarget( function.

[2019-01-23 18:54] LevelOneX commented on #1848
So it reached out to that part, I managed to make it work. The unitTarger was being removed after SetTargetMap().

I went deep and figured out that this function was returning false. https://github.com/cmangos/mangos-tbc/blob/master/src/game/Spells/Spell.cpp#L7185-L7195

I added the following lines,
                m_spellInfo->EffectImplicitTargetA[eff] != TARGET_LOCATION_CASTER_DEST &&

[2019-01-23 19:02] killerwife commented on #1848
Ok, here is the deal. Recently I finally redid the whole lot of targeting I have been promising for all of 2018. The code you are mentioning is not even hit for that particular spell anymore. The real "hack" here is to skip checktarget for all IsDestinationOnlyEffect spells. The code is still work in progress and I expect it to make it into cmangos around maybe March. If you wish for this to be fi

[2019-01-23 20:03] LevelOneX commented on #1848
Is this fine for the PR ?
[code]